In [1]:
import sys, os
p = os.path.abspath('..')
# p = p+r'\config'
sys.path.insert(1, p)

In [2]:
import lib.annotation.D_Annotation as da
import lib.annotation.Self_Consistency as sc
import lib.annotation.Sample_Insert as si
import lib.annotation.Q_Extract as qe
import lib.annotation.SampleSelf_Consistency as ssc

In [ ]:
from datetime import datetime, timedelta

def return_date_list(stday) :
    start_date = datetime(2021, 12, 1)
    end_date = datetime(2023, 12, 1)

    # 결과 날짜를 저장할 리스트
    dates = []

    # 현재 날짜를 시작 날짜로 설정
    current_date = start_date

    # 매달 15일을 반복하여 계산
    while current_date <= end_date:
        dates.append([datetime(current_date.year, current_date.month, stday).strftime("%Y-%m-%d"), 
                            datetime(current_date.year, current_date.month, stday+1).strftime("%Y-%m-%d")
                        ])
        # 다음 달로 이동
        year = current_date.year
        month = current_date.month + 1
        if month > 12:
            month = 1
            year += 1
        current_date = datetime(year, month, 1)

    return dates

In [ ]:
date_5 = return_date_list(5)
date_10 = return_date_list(10)
date_15 = return_date_list(15)
date_20 = return_date_list(20)
date_25 = return_date_list(25)
# date_20 = return_date_list(30)

In [ ]:
date_15

In [ ]:
for st_dt, end_dt in date_15:
    num_of_date = int(st_dt.split('-')[2])
    sample_insert = si.Sample_Insert(st_dt, end_dt, 30, 1, '1', num_of_date)
    sample_insert.insert_sample()

If there is no pattern of num of date

In [4]:
sample_insert = si.Sample_Insert('2022-11-30', '2023-12-31', 30, 1, '1', 1111)
sample_insert.insert_sample()

sample_insert
sample_insert> get_id_list
sample_insert> get_id_list> posttype==1
sample_insert > create connection
<class 'tuple'>
sample_insert > create connection> dt_p_id_list> 2023-10-30 318
sample_insert > create connection> first_ann_q_id> 2023-10-30 [[11110000, '2023-10-30', 77391665], [11110000, '2023-10-30', 77386079], [11110000, '2023-10-30', 77391575], [11110000, '2023-10-30', 77391553], [11110000, '2023-10-30', 77391172], [11110000, '2023-10-30', 77389057], [11110000, '2023-10-30', 77389275], [11110000, '2023-10-30', 77390167], [11110000, '2023-10-30', 77392203], [11110000, '2023-10-30', 77385639], [11110000, '2023-10-30', 77389359], [11110000, '2023-10-30', 77392165], [11110000, '2023-10-30', 77389585], [11110000, '2023-10-30', 77387009], [11110000, '2023-10-30', 77391524], [11110000, '2023-10-30', 77391156], [11110000, '2023-10-30', 77391982], [11110000, '2023-10-30', 77389210], [11110000, '2023-10-30', 77387811], [11110000, '2023-10-30', 77392321], [11110000, '2023-10-30', 77387476], [11110000, '2023-10-30', 77385748], [11110000, '2023-10-30', 77386681], [11110000, '2023-10-30', 77392122], [11110000, '2023-10-30', 77387681], [11110000, '2023-10-30', 77392276], [11110000, '2023-10-30', 77386957], [11110000, '2023-10-30', 77385678], [11110000, '2023-10-30', 77387006], [11110000, '2023-10-30', 77391515]]
sample_insert > create connection> dt_p_id_list> 2023-12-03 85
sample_insert > create connection> first_ann_q_id> 2023-12-03 [[11110000, '2023-12-03', 77593666], [11110000, '2023-12-03', 77593451], [11110000, '2023-12-03', 77593733], [11110000, '2023-12-03', 77592697], [11110000, '2023-12-03', 77593591], [11110000, '2023-12-03', 77593717], [11110000, '2023-12-03', 77593804], [11110000, '2023-12-03', 77593356], [11110000, '2023-12-03', 77593314], [11110000, '2023-12-03', 77592786], [11110000, '2023-12-03', 77592941], [11110000, '2023-12-03', 77593819], [11110000, '2023-12-03', 77593284], [11110000, '2023-12-03', 77592712], [11110000, '2023-12-03', 77593122], [11110000, '2023-12-03', 77593218], [11110000, '2023-12-03', 77593332], [11110000, '2023-12-03', 77593807], [11110000, '2023-12-03', 77592996], [11110000, '2023-12-03', 77593126], [11110000, '2023-12-03', 77592975], [11110000, '2023-12-03', 77592958], [11110000, '2023-12-03', 77593481], [11110000, '2023-12-03', 77593465], [11110000, '2023-12-03', 77593050], [11110000, '2023-12-03', 77592847], [11110000, '2023-12-03', 77593358], [11110000, '2023-12-03', 77593585], [11110000, '2023-12-03', 77593640], [11110000, '2023-12-03', 77593399]]
sample_insert > create connection> dt_p_id_list> 2023-12-02 286
sample_insert > create connection> first_ann_q_id> 2023-12-02 [[11110000, '2023-12-02', 77589174], [11110000, '2023-12-02', 77589866], [11110000, '2023-12-02', 77591051], [11110000, '2023-12-02', 77591626], [11110000, '2023-12-02', 77592031], [11110000, '2023-12-02', 77592213], [11110000, '2023-12-02', 77590606], [11110000, '2023-12-02', 77591298], [11110000, '2023-12-02', 77590623], [11110000, '2023-12-02', 77589932], [11110000, '2023-12-02', 77588660], [11110000, '2023-12-02', 77590541], [11110000, '2023-12-02', 77590479], [11110000, '2023-12-02', 77591759], [11110000, '2023-12-02', 77591733], [11110000, '2023-12-02', 77592555], [11110000, '2023-12-02', 77591718], [11110000, '2023-12-02', 77591905], [11110000, '2023-12-02', 77591334], [11110000, '2023-12-02', 77592145], [11110000, '2023-12-02', 77591785], [11110000, '2023-12-02', 77589315], [11110000, '2023-12-02', 77590137], [11110000, '2023-12-02', 77589478], [11110000, '2023-12-02', 77592132], [11110000, '2023-12-02', 77590466], [11110000, '2023-12-02', 77589182], [11110000, '2023-12-02', 77589937], [11110000, '2023-12-02', 77591142], [11110000, '2023-12-02', 77590614]]
sample_insert > create connection> dt_p_id_list> 2023-12-01 364
sample_insert > create connection> first_ann_q_id> 2023-12-01 [[11110000, '2023-12-01', 77583194], [11110000, '2023-12-01', 77585832], [11110000, '2023-12-01', 77585519], [11110000, '2023-12-01', 77586274], [11110000, '2023-12-01', 77586771], [11110000, '2023-12-01', 77588093], [11110000, '2023-12-01', 77583500], [11110000, '2023-12-01', 77587886], [11110000, '2023-12-01', 77585904], [11110000, '2023-12-01', 77585597], [11110000, '2023-12-01', 77586977], [11110000, '2023-12-01', 77583835], [11110000, '2023-12-01', 77587009], [11110000, '2023-12-01', 77587496], [11110000, '2023-12-01', 77586305], [11110000, '2023-12-01', 77587347], [11110000, '2023-12-01', 77588597], [11110000, '2023-12-01', 77587300], [11110000, '2023-12-01', 77584834], [11110000, '2023-12-01', 77586640], [11110000, '2023-12-01', 77586425], [11110000, '2023-12-01', 77588585], [11110000, '2023-12-01', 77584561], [11110000, '2023-12-01', 77583487], [11110000, '2023-12-01', 77583456], [11110000, '2023-12-01', 77588481], [11110000, '2023-12-01', 77587866], [11110000, '2023-12-01', 77584036], [11110000, '2023-12-01', 77585061], [11110000, '2023-12-01', 77585365]]
sample_insert > create connection> dt_p_id_list> 2023-11-30 486
sample_insert > create connection> first_ann_q_id> 2023-11-30 [[11110000, '2023-11-30', 77579609], [11110000, '2023-11-30', 77575535], [11110000, '2023-11-30', 77580006], [11110000, '2023-11-30', 77578644], [11110000, '2023-11-30', 77580373], [11110000, '2023-11-30', 77582243], [11110000, '2023-11-30', 77581732], [11110000, '2023-11-30', 77580724], [11110000, '2023-11-30', 77575452], [11110000, '2023-11-30', 77576242], [11110000, '2023-11-30', 77576314], [11110000, '2023-11-30', 77577827], [11110000, '2023-11-30', 77575831], [11110000, '2023-11-30', 77580121], [11110000, '2023-11-30', 77580216], [11110000, '2023-11-30', 77578191], [11110000, '2023-11-30', 77578323], [11110000, '2023-11-30', 77576739], [11110000, '2023-11-30', 77578386], [11110000, '2023-11-30', 77582234], [11110000, '2023-11-30', 77581376], [11110000, '2023-11-30', 77577080], [11110000, '2023-11-30', 77577239], [11110000, '2023-11-30', 77579086], [11110000, '2023-11-30', 77580143], [11110000, '2023-11-30', 77581500], [11110000, '2023-11-30', 77581052], [11110000, '2023-11-30', 77578898], [11110000, '2023-11-30', 77577255], [11110000, '2023-11-30', 77576460]]
sample_insert > create connection> dt_p_id_list> 2023-11-29 488
sample_insert > create connection> first_ann_q_id> 2023-11-29 [[11110000, '2023-11-29', 77573207], [11110000, '2023-11-29', 77574003], [11110000, '2023-11-29', 77569610], [11110000, '2023-11-29', 77572032], [11110000, '2023-11-29', 77570541], [11110000, '2023-11-29', 77568033], [11110000, '2023-11-29', 77573470], [11110000, '2023-11-29', 77571576], [11110000, '2023-11-29', 77568613], [11110000, '2023-11-29', 77571373], [11110000, '2023-11-29', 77568353], [11110000, '2023-11-29', 77568251], [11110000, '2023-11-29', 77569452], [11110000, '2023-11-29', 77570408], [11110000, '2023-11-29', 77573672], [11110000, '2023-11-29', 77571891], [11110000, '2023-11-29', 77570976], [11110000, '2023-11-29', 77574495], [11110000, '2023-11-29', 77571578], [11110000, '2023-11-29', 77571953], [11110000, '2023-11-29', 77570153], [11110000, '2023-11-29', 77570059], [11110000, '2023-11-29', 77571796], [11110000, '2023-11-29', 77571793], [11110000, '2023-11-29', 77567994], [11110000, '2023-11-29', 77570107], [11110000, '2023-11-29', 77574637], [11110000, '2023-11-29', 77574977], [11110000, '2023-11-29', 77572149], [11110000, '2023-11-29', 77569845]]
sample_insert > create connection> dt_p_id_list> 2023-11-28 472
sample_insert > create connection> first_ann_q_id> 2023-11-28 [[11110000, '2023-11-28', 77564435], [11110000, '2023-11-28', 77567038], [11110000, '2023-11-28', 77567068], [11110000, '2023-11-28', 77565811], [11110000, '2023-11-28', 77561967], [11110000, '2023-11-28', 77563374], [11110000, '2023-11-28', 77565641], [11110000, '2023-11-28', 77567372], [11110000, '2023-11-28', 77566668], [11110000, '2023-11-28', 77563816], [11110000, '2023-11-28', 77562009], [11110000, '2023-11-28', 77562182], [11110000, '2023-11-28', 77561913], [11110000, '2023-11-28', 77563897], [11110000, '2023-11-28', 77562169], [11110000, '2023-11-28', 77563594], [11110000, '2023-11-28', 77564880], [11110000, '2023-11-28', 77562252], [11110000, '2023-11-28', 77562303], [11110000, '2023-11-28', 77563254], [11110000, '2023-11-28', 77563996], [11110000, '2023-11-28', 77566113], [11110000, '2023-11-28', 77564564], [11110000, '2023-11-28', 77567276], [11110000, '2023-11-28', 77564369], [11110000, '2023-11-28', 77567543], [11110000, '2023-11-28', 77562372], [11110000, '2023-11-28', 77563043], [11110000, '2023-11-28', 77563209], [11110000, '2023-11-28', 77565283]]
sample_insert > create connection> dt_p_id_list> 2023-11-21 363
sample_insert > create connection> first_ann_q_id> 2023-11-21 [[11110000, '2023-11-21', 77522054], [11110000, '2023-11-21', 77520642], [11110000, '2023-11-21', 77525419], [11110000, '2023-11-21', 77522743], [11110000, '2023-11-21', 77525597], [11110000, '2023-11-21', 77521240], [11110000, '2023-11-21', 77519674], [11110000, '2023-11-21', 77520086], [11110000, '2023-11-21', 77526478], [11110000, '2023-11-21', 77521879], [11110000, '2023-11-21', 77525748], [11110000, '2023-11-21', 77526541], [11110000, '2023-11-21', 77526310], [11110000, '2023-11-21', 77523919], [11110000, '2023-11-21', 77524255], [11110000, '2023-11-21', 77522368], [11110000, '2023-11-21', 77524295], [11110000, '2023-11-21', 77524546], [11110000, '2023-11-21', 77521600], [11110000, '2023-11-21', 77519874], [11110000, '2023-11-21', 77523764], [11110000, '2023-11-21', 77525381], [11110000, '2023-11-21', 77520123], [11110000, '2023-11-21', 77525031], [11110000, '2023-11-21', 77525444], [11110000, '2023-11-21', 77520618], [11110000, '2023-11-21', 77523581], [11110000, '2023-11-21', 77521373], [11110000, '2023-11-21', 77520243], [11110000, '2023-11-21', 77520379]]
sample_insert > create connection> dt_p_id_list> 2023-11-22 367
sample_insert > create connection> first_ann_q_id> 2023-11-22 [[11110000, '2023-11-22', 77530327], [11110000, '2023-11-22', 77531821], [11110000, '2023-11-22', 77532678], [11110000, '2023-11-22', 77527470], [11110000, '2023-11-22', 77533625], [11110000, '2023-11-22', 77531878], [11110000, '2023-11-22', 77532887], [11110000, '2023-11-22', 77533274], [11110000, '2023-11-22', 77527947], [11110000, '2023-11-22', 77532190], [11110000, '2023-11-22', 77532704], [11110000, '2023-11-22', 77527424], [11110000, '2023-11-22', 77532128], [11110000, '2023-11-22', 77533121], [11110000, '2023-11-22', 77532463], [11110000, '2023-11-22', 77529638], [11110000, '2023-11-22', 77527943], [11110000, '2023-11-22', 77526618], [11110000, '2023-11-22', 77530575], [11110000, '2023-11-22', 77531834], [11110000, '2023-11-22', 77526724], [11110000, '2023-11-22', 77530069], [11110000, '2023-11-22', 77530570], [11110000, '2023-11-22', 77531213], [11110000, '2023-11-22', 77526899], [11110000, '2023-11-22', 77533189], [11110000, '2023-11-22', 77529177], [11110000, '2023-11-22', 77532112], [11110000, '2023-11-22', 77533322], [11110000, '2023-11-22', 77532306]]
sample_insert > create connection> dt_p_id_list> 2023-11-20 350
sample_insert > create connection> first_ann_q_id> 2023-11-20 [[11110000, '2023-11-20', 77517420], [11110000, '2023-11-20', 77514965], [11110000, '2023-11-20', 77515148], [11110000, '2023-11-20', 77514634], [11110000, '2023-11-20', 77517507], [11110000, '2023-11-20', 77514332], [11110000, '2023-11-20', 77518137], [11110000, '2023-11-20', 77514047], [11110000, '2023-11-20', 77519062], [11110000, '2023-11-20', 77515226], [11110000, '2023-11-20', 77519025], [11110000, '2023-11-20', 77514271], [11110000, '2023-11-20', 77514099], [11110000, '2023-11-20', 77517303], [11110000, '2023-11-20', 77514951], [11110000, '2023-11-20', 77518518], [11110000, '2023-11-20', 77513504], [11110000, '2023-11-20', 77518556], [11110000, '2023-11-20', 77517882], [11110000, '2023-11-20', 77517654], [11110000, '2023-11-20', 77517334], [11110000, '2023-11-20', 77518808], [11110000, '2023-11-20', 77514810], [11110000, '2023-11-20', 77517799], [11110000, '2023-11-20', 77516482], [11110000, '2023-11-20', 77513230], [11110000, '2023-11-20', 77515937], [11110000, '2023-11-20', 77514390], [11110000, '2023-11-20', 77514893], [11110000, '2023-11-20', 77517041]]
sample_insert > create connection> dt_p_id_list> 2023-11-19 216
sample_insert > create connection> first_ann_q_id> 2023-11-19 [[11110000, '2023-11-19', 77509165], [11110000, '2023-11-19', 77512738], [11110000, '2023-11-19', 77510638], [11110000, '2023-11-19', 77509215], [11110000, '2023-11-19', 77511781], [11110000, '2023-11-19', 77511828], [11110000, '2023-11-19', 77512601], [11110000, '2023-11-19', 77509565], [11110000, '2023-11-19', 77511570], [11110000, '2023-11-19', 77510730], [11110000, '2023-11-19', 77509490], [11110000, '2023-11-19', 77511351], [11110000, '2023-11-19', 77509157], [11110000, '2023-11-19', 77511155], [11110000, '2023-11-19', 77509892], [11110000, '2023-11-19', 77509392], [11110000, '2023-11-19', 77510292], [11110000, '2023-11-19', 77510690], [11110000, '2023-11-19', 77509323], [11110000, '2023-11-19', 77512288], [11110000, '2023-11-19', 77509544], [11110000, '2023-11-19', 77510925], [11110000, '2023-11-19', 77511233], [11110000, '2023-11-19', 77510368], [11110000, '2023-11-19', 77509825], [11110000, '2023-11-19', 77510131], [11110000, '2023-11-19', 77512890], [11110000, '2023-11-19', 77512169], [11110000, '2023-11-19', 77509581], [11110000, '2023-11-19', 77512557]]
sample_insert > create connection> dt_p_id_list> 2023-11-18 221
sample_insert > create connection> first_ann_q_id> 2023-11-18 [[11110000, '2023-11-18', 77506599], [11110000, '2023-11-18', 77508696], [11110000, '2023-11-18', 77508727], [11110000, '2023-11-18', 77508304], [11110000, '2023-11-18', 77505778], [11110000, '2023-11-18', 77508109], [11110000, '2023-11-18', 77506684], [11110000, '2023-11-18', 77506884], [11110000, '2023-11-18', 77506997], [11110000, '2023-11-18', 77505501], [11110000, '2023-11-18', 77507943], [11110000, '2023-11-18', 77506789], [11110000, '2023-11-18', 77505294], [11110000, '2023-11-18', 77506897], [11110000, '2023-11-18', 77505648], [11110000, '2023-11-18', 77508223], [11110000, '2023-11-18', 77508384], [11110000, '2023-11-18', 77507867], [11110000, '2023-11-18', 77507372], [11110000, '2023-11-18', 77505642], [11110000, '2023-11-18', 77506581], [11110000, '2023-11-18', 77505782], [11110000, '2023-11-18', 77508043], [11110000, '2023-11-18', 77506607], [11110000, '2023-11-18', 77505227], [11110000, '2023-11-18', 77508343], [11110000, '2023-11-18', 77505618], [11110000, '2023-11-18', 77508344], [11110000, '2023-11-18', 77508609], [11110000, '2023-11-18', 77508650]]
sample_insert > create connection> dt_p_id_list> 2023-11-17 331
sample_insert > create connection> first_ann_q_id> 2023-11-17 [[11110000, '2023-11-17', 77502713], [11110000, '2023-11-17', 77500330], [11110000, '2023-11-17', 77498876], [11110000, '2023-11-17', 77502200], [11110000, '2023-11-17', 77503315], [11110000, '2023-11-17', 77503582], [11110000, '2023-11-17', 77505101], [11110000, '2023-11-17', 77500555], [11110000, '2023-11-17', 77502055], [11110000, '2023-11-17', 77504344], [11110000, '2023-11-17', 77505139], [11110000, '2023-11-17', 77498941], [11110000, '2023-11-17', 77505140], [11110000, '2023-11-17', 77504345], [11110000, '2023-11-17', 77504440], [11110000, '2023-11-17', 77500721], [11110000, '2023-11-17', 77500598], [11110000, '2023-11-17', 77502294], [11110000, '2023-11-17', 77503198], [11110000, '2023-11-17', 77501333], [11110000, '2023-11-17', 77499563], [11110000, '2023-11-17', 77499439], [11110000, '2023-11-17', 77504686], [11110000, '2023-11-17', 77498983], [11110000, '2023-11-17', 77505031], [11110000, '2023-11-17', 77500127], [11110000, '2023-11-17', 77504169], [11110000, '2023-11-17', 77504810], [11110000, '2023-11-17', 77502800], [11110000, '2023-11-17', 77501087]]
sample_insert > create connection> dt_p_id_list> 2023-11-16 400
sample_insert > create connection> first_ann_q_id> 2023-11-16 [[11110000, '2023-11-16', 77497139], [11110000, '2023-11-16', 77492026], [11110000, '2023-11-16', 77493050], [11110000, '2023-11-16', 77495952], [11110000, '2023-11-16', 77495024], [11110000, '2023-11-16', 77498412], [11110000, '2023-11-16', 77496337], [11110000, '2023-11-16', 77493743], [11110000, '2023-11-16', 77493324], [11110000, '2023-11-16', 77492806], [11110000, '2023-11-16', 77496053], [11110000, '2023-11-16', 77492422], [11110000, '2023-11-16', 77498062], [11110000, '2023-11-16', 77498268], [11110000, '2023-11-16', 77495574], [11110000, '2023-11-16', 77495513], [11110000, '2023-11-16', 77496915], [11110000, '2023-11-16', 77494647], [11110000, '2023-11-16', 77497755], [11110000, '2023-11-16', 77495015], [11110000, '2023-11-16', 77495488], [11110000, '2023-11-16', 77498349], [11110000, '2023-11-16', 77494167], [11110000, '2023-11-16', 77494689], [11110000, '2023-11-16', 77498661], [11110000, '2023-11-16', 77491924], [11110000, '2023-11-16', 77492383], [11110000, '2023-11-16', 77492813], [11110000, '2023-11-16', 77493931], [11110000, '2023-11-16', 77497715]]
sample_insert > create connection> dt_p_id_list> 2023-10-31 326
sample_insert > create connection> first_ann_q_id> 2023-10-31 [[11110000, '2023-10-31', 77399436], [11110000, '2023-10-31', 77395493], [11110000, '2023-10-31', 77392893], [11110000, '2023-10-31', 77395058], [11110000, '2023-10-31', 77395098], [11110000, '2023-10-31', 77396746], [11110000, '2023-10-31', 77395827], [11110000, '2023-10-31', 77395233], [11110000, '2023-10-31', 77399597], [11110000, '2023-10-31', 77393960], [11110000, '2023-10-31', 77398029], [11110000, '2023-10-31', 77398956], [11110000, '2023-10-31', 77397777], [11110000, '2023-10-31', 77395675], [11110000, '2023-10-31', 77399535], [11110000, '2023-10-31', 77397234], [11110000, '2023-10-31', 77393069], [11110000, '2023-10-31', 77393243], [11110000, '2023-10-31', 77392820], [11110000, '2023-10-31', 77397870], [11110000, '2023-10-31', 77398611], [11110000, '2023-10-31', 77398856], [11110000, '2023-10-31', 77396345], [11110000, '2023-10-31', 77399123], [11110000, '2023-10-31', 77392934], [11110000, '2023-10-31', 77398366], [11110000, '2023-10-31', 77398580], [11110000, '2023-10-31', 77395229], [11110000, '2023-10-31', 77396407], [11110000, '2023-10-31', 77397081]]
sample_insert > create connection> dt_p_id_list> 2023-11-15 379
sample_insert > create connection> first_ann_q_id> 2023-11-15 [[11110000, '2023-11-15', 77489224], [11110000, '2023-11-15', 77484585], [11110000, '2023-11-15', 77484681], [11110000, '2023-11-15', 77484720], [11110000, '2023-11-15', 77485234], [11110000, '2023-11-15', 77487177], [11110000, '2023-11-15', 77486000], [11110000, '2023-11-15', 77491078], [11110000, '2023-11-15', 77488654], [11110000, '2023-11-15', 77489000], [11110000, '2023-11-15', 77484617], [11110000, '2023-11-15', 77490636], [11110000, '2023-11-15', 77490578], [11110000, '2023-11-15', 77489899], [11110000, '2023-11-15', 77488704], [11110000, '2023-11-15', 77491228], [11110000, '2023-11-15', 77485618], [11110000, '2023-11-15', 77490008], [11110000, '2023-11-15', 77486102], [11110000, '2023-11-15', 77491336], [11110000, '2023-11-15', 77491016], [11110000, '2023-11-15', 77489461], [11110000, '2023-11-15', 77488243], [11110000, '2023-11-15', 77487061], [11110000, '2023-11-15', 77488771], [11110000, '2023-11-15', 77489569], [11110000, '2023-11-15', 77489036], [11110000, '2023-11-15', 77486981], [11110000, '2023-11-15', 77490123], [11110000, '2023-11-15', 77489554]]
sample_insert > create connection> dt_p_id_list> 2023-11-27 425