In [9]:
import sys, os
p = os.path.abspath('..')
# p = p+r'\config'
sys.path.insert(1, p)

In [10]:
import lib.annotation.D_Annotation as da
import lib.annotation.Self_Consistency as sc
import lib.annotation.Sample_Insert as si
import lib.annotation.Q_Extract as qe
import lib.annotation.SampleSelf_Consistency as ssc

In [13]:
from datetime import datetime, timedelta

def return_date_list(stday) :
    start_date = datetime(2021, 11, 30)
    end_date = datetime(2023, 12, 1)

    # 결과 날짜를 저장할 리스트
    dates = []

    # 현재 날짜를 시작 날짜로 설정
    current_date = start_date

    while current_date <= end_date:
        chk_date = (datetime(current_date.year, current_date.month, 1) + timedelta(days=stday-1))
        print(end_date, chk_date)
        if chk_date <= end_date :
            dates.append([
                            (datetime(current_date.year, current_date.month, 1) + timedelta(days=stday-1)).strftime("%Y-%m-%d"), 
                            (datetime(current_date.year, current_date.month, 1) + timedelta(days=stday)).strftime("%Y-%m-%d")
                        ])
            # 다음 달로 이동
            year = current_date.year
            month = current_date.month + 1
            if month > 12:
                month = 1
                year += 1
            current_date = datetime(year, month, 1)
        else :
            break

    return dates

In [16]:
# date_5 = return_date_list(5)
# date_10 = return_date_list(10)
# date_15 = return_date_list(15)
# date_20 = return_date_list(20)
# date_25 = return_date_list(25)
date = return_date_list(30)

2023-12-01 00:00:00 2021-11-30 00:00:00
2023-12-01 00:00:00 2021-12-30 00:00:00
2023-12-01 00:00:00 2022-01-30 00:00:00
2023-12-01 00:00:00 2022-03-02 00:00:00
2023-12-01 00:00:00 2022-03-30 00:00:00
2023-12-01 00:00:00 2022-04-30 00:00:00
2023-12-01 00:00:00 2022-05-30 00:00:00
2023-12-01 00:00:00 2022-06-30 00:00:00
2023-12-01 00:00:00 2022-07-30 00:00:00
2023-12-01 00:00:00 2022-08-30 00:00:00
2023-12-01 00:00:00 2022-09-30 00:00:00
2023-12-01 00:00:00 2022-10-30 00:00:00
2023-12-01 00:00:00 2022-11-30 00:00:00
2023-12-01 00:00:00 2022-12-30 00:00:00
2023-12-01 00:00:00 2023-01-30 00:00:00
2023-12-01 00:00:00 2023-03-02 00:00:00
2023-12-01 00:00:00 2023-03-30 00:00:00
2023-12-01 00:00:00 2023-04-30 00:00:00
2023-12-01 00:00:00 2023-05-30 00:00:00
2023-12-01 00:00:00 2023-06-30 00:00:00
2023-12-01 00:00:00 2023-07-30 00:00:00
2023-12-01 00:00:00 2023-08-30 00:00:00
2023-12-01 00:00:00 2023-09-30 00:00:00
2023-12-01 00:00:00 2023-10-30 00:00:00
2023-12-01 00:00:00 2023-11-30 00:00:00
2023-12-01 00:00:00 2023-12-30 00:00:00

In [18]:
date

[['2021-11-30', '2021-12-01'],
 ['2021-12-30', '2021-12-31'],
 ['2022-01-30', '2022-01-31'],
 ['2022-03-02', '2022-03-03'],
 ['2022-03-30', '2022-03-31'],
 ['2022-04-30', '2022-05-01'],
 ['2022-05-30', '2022-05-31'],
 ['2022-06-30', '2022-07-01'],
 ['2022-07-30', '2022-07-31'],
 ['2022-08-30', '2022-08-31'],
 ['2022-09-30', '2022-10-01'],
 ['2022-10-30', '2022-10-31'],
 ['2022-11-30', '2022-12-01'],
 ['2022-12-30', '2022-12-31'],
 ['2023-01-30', '2023-01-31'],
 ['2023-03-02', '2023-03-03'],
 ['2023-03-30', '2023-03-31'],
 ['2023-04-30', '2023-05-01'],
 ['2023-05-30', '2023-05-31'],
 ['2023-06-30', '2023-07-01'],
 ['2023-07-30', '2023-07-31'],
 ['2023-08-30', '2023-08-31'],
 ['2023-09-30', '2023-10-01'],
 ['2023-10-30', '2023-10-31'],
 ['2023-11-30', '2023-12-01']]

In [ ]:
for st_dt, end_dt in date:
    num_of_date = int(date[0][0].split('-')[2])
    sample_insert = si.Sample_Insert(st_dt, end_dt, 30, 1, '1', num_of_date)
    sample_insert.insert_sample()

sample_insert
sample_insert> get_id_list
sample_insert> get_id_list> posttype==1
sample_insert > create connection
<class 'tuple'>
sample_insert > create connection> dt_p_id_list> 2021-11-30 744
sample_insert > create connection> first_ann_q_id> 2021-11-30 [[300528, '2021-11-30', 70170522], [300528, '2021-11-30', 70166312], [300528, '2021-11-30', 70169584], [300528, '2021-11-30', 70168571], [300528, '2021-11-30', 70177355], [300528, '2021-11-30', 70165487], [300528, '2021-11-30', 70162741], [300528, '2021-11-30', 70166338], [300528, '2021-11-30', 70167162], [300528, '2021-11-30', 70175597], [300528, '2021-11-30', 70175981], [300528, '2021-11-30', 70174676], [300528, '2021-11-30', 70167070], [300528, '2021-11-30', 70172502], [300528, '2021-11-30', 70166460], [300528, '2021-11-30', 70172191], [300528, '2021-11-30', 70164554], [300528, '2021-11-30', 70171001], [300528, '2021-11-30', 70168698], [300528, '2021-11-30', 70171922], [300528, '2021-11-30', 70169916], [300528, '2021-11-30', 70163193], [300528, '2021-11-30', 70163833], [300528, '2021-11-30', 70166276], [300528, '2021-11-30', 70168777], [300528, '2021-11-30', 70163731], [300528, '2021-11-30', 70173921], [300528, '2021-11-30', 70166789], [300528, '2021-11-30', 70171538], [300528, '2021-11-30', 70169589]]
insert_db : else -
sample_insert
sample_insert> get_id_list
sample_insert> get_id_list> posttype==1
sample_insert > create connection
<class 'tuple'>
sample_insert > create connection> dt_p_id_list> 2021-12-30 640
sample_insert > create connection> first_ann_q_id> 2021-12-30 [[300529, '2021-12-30', 70536988], [300529, '2021-12-30', 70531198], [300529, '2021-12-30', 70535013], [300529, '2021-12-30', 70532525], [300529, '2021-12-30', 70534249], [300529, '2021-12-30', 70534761], [300529, '2021-12-30', 70536028], [300529, '2021-12-30', 70526485], [300529, '2021-12-30', 70534512], [300529, '2021-12-30', 70533933], [300529, '2021-12-30', 70532418], [300529, '2021-12-30', 70533515], [300529, '2021-12-30', 70537839], [300529, '2021-12-30', 70530762], [300529, '2021-12-30', 70534388], [300529, '2021-12-30', 70529947], [300529, '2021-12-30', 70536868], [300529, '2021-12-30', 70531871], [300529, '2021-12-30', 70526275], [300529, '2021-12-30', 70529622], [300529, '2021-12-30', 70535218], [300529, '2021-12-30', 70533500], [300529, '2021-12-30', 70528793], [300529, '2021-12-30', 70529148], [300529, '2021-12-30', 70527469], [300529, '2021-12-30', 70527540], [300529, '2021-12-30', 70530824], [300529, '2021-12-30', 70537418], [300529, '2021-12-30', 70534155], [300529, '2021-12-30', 70535712]]
insert_db : else -
sample_insert
sample_insert> get_id_list
sample_insert> get_id_list> posttype==1
sample_insert > create connection
<class 'tuple'>
sample_insert > create connection> dt_p_id_list> 2022-01-30 447
sample_insert > create connection> first_ann_q_id> 2022-01-30 [[300530, '2022-01-30', 70918085], [300530, '2022-01-30', 70913032], [300530, '2022-01-30', 70916133], [300530, '2022-01-30', 70919116], [300530, '2022-01-30', 70911953], [300530, '2022-01-30', 70914907], [300530, '2022-01-30', 70911504], [300530, '2022-01-30', 70917596], [300530, '2022-01-30', 70917086], [300530, '2022-01-30', 70918255], [300530, '2022-01-30', 70914270], [300530, '2022-01-30', 70919778], [300530, '2022-01-30', 70916930], [300530, '2022-01-30', 70918711], [300530, '2022-01-30', 70914878], [300530, '2022-01-30', 70911548], [300530, '2022-01-30', 70911286], [300530, '2022-01-30', 70912219], [300530, '2022-01-30', 70913314], [300530, '2022-01-30', 70911368], [300530, '2022-01-30', 70911801], [300530, '2022-01-30', 70911227], [300530, '2022-01-30', 70915486], [300530, '2022-01-30', 70916185], [300530, '2022-01-30', 70920023], [300530, '2022-01-30', 70916818], [300530, '2022-01-30', 70919197], [300530, '2022-01-30', 70911875], [300530, '2022-01-30', 70913082], [300530, '2022-01-30', 70919032]]
insert_db : else -
sample_insert
sample_insert> get_id_list
sample_insert> get_id_list> posttype==1
sample_insert > create connection
<class 'tuple'>
sample_insert > create connection> dt_p_id_list> 2022-03-02 783
sample_insert > create connection> first_ann_q_id> 2022-03-02 [[300531, '2022-03-02', 71330028], [300531, '2022-03-02', 71329537], [300531, '2022-03-02', 71328123], [300531, '2022-03-02', 71321615], [300531, '2022-03-02', 71320380], [300531, '2022-03-02', 71321574], [300531, '2022-03-02', 71318194], [300531, '2022-03-02', 71318217], [300531, '2022-03-02', 71320341], [300531, '2022-03-02', 71318585], [300531, '2022-03-02', 71317830], [300531, '2022-03-02', 71319911], [300531, '2022-03-02', 71330597], [300531, '2022-03-02', 71322361], [300531, '2022-03-02', 71330482], [300531, '2022-03-02', 71319221], [300531, '2022-03-02', 71322979], [300531, '2022-03-02', 71325521], [300531, '2022-03-02', 71320480], [300531, '2022-03-02', 71328114], [300531, '2022-03-02', 71317250], [300531, '2022-03-02', 71320741], [300531, '2022-03-02', 71326900], [300531, '2022-03-02', 71326109], [300531, '2022-03-02', 71326504], [300531, '2022-03-02', 71330367], [300531, '2022-03-02', 71316341], [300531, '2022-03-02', 71327381], [300531, '2022-03-02', 71325387], [300531, '2022-03-02', 71329237]]
insert_db : else -
sample_insert
sample_insert> get_id_list
sample_insert> get_id_list> posttype==1
sample_insert > create connection
<class 'tuple'>
sample_insert > create connection> dt_p_id_list> 2022-03-30 746
sample_insert > create connection> first_ann_q_id> 2022-03-30 [[300532, '2022-03-30', 71671692], [300532, '2022-03-30', 71682398], [300532, '2022-03-30', 71681253], [300532, '2022-03-30', 71679309], [300532, '2022-03-30', 71684763], [300532, '2022-03-30', 71670449], [300532, '2022-03-30', 71679337], [300532, '2022-03-30', 71674779], [300532, '2022-03-30', 71673845], [300532, '2022-03-30', 71670080], [300532, '2022-03-30', 71678087], [300532, '2022-03-30', 71676025], [300532, '2022-03-30', 71678608], [300532, '2022-03-30', 71684403], [300532, '2022-03-30', 71670741], [300532, '2022-03-30', 71683550], [300532, '2022-03-30', 71678308], [300532, '2022-03-30', 71681815], [300532, '2022-03-30', 71675502], [300532, '2022-03-30', 71670104], [300532, '2022-03-30', 71678901], [300532, '2022-03-30', 71680058], [300532, '2022-03-30', 71677064], [300532, '2022-03-30', 71672518], [300532, '2022-03-30', 71673205], [300532, '2022-03-30', 71676948], [300532, '2022-03-30', 71674570], [300532, '2022-03-30', 71677509], [300532, '2022-03-30', 71680816], [300532, '2022-03-30', 71674654]]
insert_db : else -
sample_insert
sample_insert> get_id_list
sample_insert> get_id_list> posttype==1
sample_insert > create connection
<class 'tuple'>
sample_insert > create connection> dt_p_id_list> 2022-04-30 494
sample_insert > create connection> first_ann_q_id> 2022-04-30 [[300533, '2022-04-30', 72070408], [300533, '2022-04-30', 72069900], [300533, '2022-04-30', 72071563], [300533, '2022-04-30', 72067454], [300533, '2022-04-30', 72071583], [300533, '2022-04-30', 72064951], [300533, '2022-04-30', 72066995], [300533, '2022-04-30', 72065112], [300533, '2022-04-30', 72070756], [300533, '2022-04-30', 72067418], [300533, '2022-04-30', 72066859], [300533, '2022-04-30', 72065835], [300533, '2022-04-30', 72070568], [300533, '2022-04-30', 72068428], [300533, '2022-04-30', 72066833], [300533, '2022-04-30', 72069213], [300533, '2022-04-30', 72067160], [300533, '2022-04-30', 72066377], [300533, '2022-04-30', 72071469], [300533, '2022-04-30', 72065051], [300533, '2022-04-30', 72068685], [300533, '2022-04-30', 72065752], [300533, '2022-04-30', 72072072], [300533, '2022-04-30', 72067898], [300533, '2022-04-30', 72071379], [300533, '2022-04-30', 72072636], [300533, '2022-04-30', 72064756], [300533, '2022-04-30', 72064752], [300533, '2022-04-30', 72068249], [300533, '2022-04-30', 72067398]]
insert_db : else -
sample_insert
sample_insert> get_id_list
sample_insert> get_id_list> posttype==1
sample_insert > create connection
<class 'tuple'>
sample_insert > create connection> dt_p_id_list> 2022-05-30 631
sample_insert > create connection> first_ann_q_id> 2022-05-30 [[300534, '2022-05-30', 72430466], [300534, '2022-05-30', 72428419], [300534, '2022-05-30', 72430421], [300534, '2022-05-30', 72429361], [300534, '2022-05-30', 72429234], [300534, '2022-05-30', 72440266], [300534, '2022-05-30', 72437264], [300534, '2022-05-30', 72440783], [300534, '2022-05-30', 72433924], [300534, '2022-05-30', 72436683], [300534, '2022-05-30', 72430657], [300534, '2022-05-30', 72437648], [300534, '2022-05-30', 72438984], [300534, '2022-05-30', 72436420], [300534, '2022-05-30', 72429918], [300534, '2022-05-30', 72439610], [300534, '2022-05-30', 72433659], [300534, '2022-05-30', 72438931], [300534, '2022-05-30', 72438253], [300534, '2022-05-30', 72435793], [300534, '2022-05-30', 72429437], [300534, '2022-05-30', 72436157], [300534, '2022-05-30', 72434231], [300534, '2022-05-30', 72440400], [300534, '2022-05-30', 72437914], [300534, '2022-05-30', 72438157], [300534, '2022-05-30', 72435823], [300534, '2022-05-30', 72432135], [300534, '2022-05-30', 72433610], [300534, '2022-05-30', 72430729]]
insert_db : else -
sample_insert
sample_insert> get_id_list
sample_insert> get_id_list> posttype==1
sample_insert > create connection
<class 'tuple'>
sample_insert > create connection> dt_p_id_list> 2022-06-30 691
sample_insert > create connection> first_ann_q_id> 2022-06-30 [[300535, '2022-06-30', 72813898], [300535, '2022-06-30', 72819551], [300535, '2022-06-30', 72810598], [300535, '2022-06-30', 72819593], [300535, '2022-06-30', 72817748], [300535, '2022-06-30', 72811473], [300535, '2022-06-30', 72818215], [300535, '2022-06-30', 72819212], [300535, '2022-06-30', 72816431], [300535, '2022-06-30', 72814534], [300535, '2022-06-30', 72822376], [300535, '2022-06-30', 72816601], [300535, '2022-06-30', 72817135], [300535, '2022-06-30', 72818113], [300535, '2022-06-30', 72822551], [300535, '2022-06-30', 72815246], [300535, '2022-06-30', 72818920], [300535, '2022-06-30', 72818850], [300535, '2022-06-30', 72822872], [300535, '2022-06-30', 72820711], [300535, '2022-06-30', 72815678], [300535, '2022-06-30', 72815167], [300535, '2022-06-30', 72821433], [300535, '2022-06-30', 72822464], [300535, '2022-06-30', 72818706], [300535, '2022-06-30', 72813080], [300535, '2022-06-30', 72820451], [300535, '2022-06-30', 72812664], [300535, '2022-06-30', 72809391], [300535, '2022-06-30', 72823006]]
insert_db : else -
sample_insert
sample_insert> get_id_list
sample_insert> get_id_list> posttype==1
sample_insert > create connection
<class 'tuple'>
sample_insert > create connection> dt_p_id_list> 2022-07-30 423
sample_insert > create connection> first_ann_q_id> 2022-07-30 [[300536, '2022-07-30', 73178071], [300536, '2022-07-30', 73172932], [300536, '2022-07-30', 73173205], [300536, '2022-07-30', 73177796], [300536, '2022-07-30', 73173946], [300536, '2022-07-30', 73178720], [300536, '2022-07-30', 73172145], [300536, '2022-07-30', 73175261], [300536, '2022-07-30', 73173720], [300536, '2022-07-30', 73172127], [300536, '2022-07-30', 73176328], [300536, '2022-07-30', 73172484], [300536, '2022-07-30', 73175168], [300536, '2022-07-30', 73173268], [300536, '2022-07-30', 73175062], [300536, '2022-07-30', 73174653], [300536, '2022-07-30', 73177591], [300536, '2022-07-30', 73177407], [300536, '2022-07-30', 73177673], [300536, '2022-07-30', 73177317], [300536, '2022-07-30', 73175488], [300536, '2022-07-30', 73178299], [300536, '2022-07-30', 73178162], [300536, '2022-07-30', 73176965], [300536, '2022-07-30', 73177120], [300536, '2022-07-30', 73172360], [300536, '2022-07-30', 73177899], [300536, '2022-07-30', 73172306], [300536, '2022-07-30', 73172737], [300536, '2022-07-30', 73178728]]
insert_db : else -
sample_insert
sample_insert> get_id_list
sample_insert> get_id_list> posttype==1
sample_insert > create connection
<class 'tuple'>
sample_insert > create connection> dt_p_id_list> 2022-08-30 652
sample_insert > create connection> first_ann_q_id> 2022-08-30 [[300537, '2022-08-30', 73546601], [300537, '2022-08-30', 73546358], [300537, '2022-08-30', 73536536], [300537, '2022-08-30', 73545135], [300537, '2022-08-30', 73548812], [300537, '2022-08-30', 73543037], [300537, '2022-08-30', 73539783], [300537, '2022-08-30', 73546129], [300537, '2022-08-30', 73545279], [300537, '2022-08-30', 73535814], [300537, '2022-08-30', 73543076], [300537, '2022-08-30', 73549499], [300537, '2022-08-30', 73536856], [300537, '2022-08-30', 73538403], [300537, '2022-08-30', 73549156], [300537, '2022-08-30', 73544316], [300537, '2022-08-30', 73542145], [300537, '2022-08-30', 73546342], [300537, '2022-08-30', 73546067], [300537, '2022-08-30', 73542359], [300537, '2022-08-30', 73537529], [300537, '2022-08-30', 73544339], [300537, '2022-08-30', 73547490], [300537, '2022-08-30', 73548651], [300537, '2022-08-30', 73548393], [300537, '2022-08-30', 73540459], [300537, '2022-08-30', 73541770], [300537, '2022-08-30', 73548693], [300537, '2022-08-30', 73547040], [300537, '2022-08-30', 73543706]]
insert_db : else -
sample_insert
sample_insert> get_id_list
sample_insert> get_id_list> posttype==1
sample_insert > create connection
<class 'tuple'>
sample_insert > create connection> dt_p_id_list> 2022-09-30 537
sample_insert > create connection> first_ann_q_id> 2022-09-30 [[300538, '2022-09-30', 73910805], [300538, '2022-09-30', 73914726], [300538, '2022-09-30', 73908734], [300538, '2022-09-30', 73913431], [300538, '2022-09-30', 73906595], [300538, '2022-09-30', 73903253], [300538, '2022-09-30', 73904698], [300538, '2022-09-30', 73905746], [300538, '2022-09-30', 73914078], [300538, '2022-09-30', 73912220], [300538, '2022-09-30', 73904048], [300538, '2022-09-30', 73904499], [300538, '2022-09-30', 73911029], [300538, '2022-09-30', 73906045], [300538, '2022-09-30', 73913584], [300538, '2022-09-30', 73903519], [300538, '2022-09-30', 73903002], [300538, '2022-09-30', 73905465], [300538, '2022-09-30', 73910497], [300538, '2022-09-30', 73914404], [300538, '2022-09-30', 73910543], [300538, '2022-09-30', 73908809], [300538, '2022-09-30', 73910771], [300538, '2022-09-30', 73906806], [300538, '2022-09-30', 73910823], [300538, '2022-09-30', 73904615], [300538, '2022-09-30', 73912520], [300538, '2022-09-30', 73903203], [300538, '2022-09-30', 73903443], [300538, '2022-09-30', 73907506]]
insert_db : else -
sample_insert
sample_insert> get_id_list
sample_insert> get_id_list> posttype==1
sample_insert > create connection
<class 'tuple'>
sample_insert > create connection> dt_p_id_list> 2022-10-30 447
sample_insert > create connection> first_ann_q_id> 2022-10-30 [[300539, '2022-10-30', 74254160], [300539, '2022-10-30', 74256052], [300539, '2022-10-30', 74251795], [300539, '2022-10-30', 74251860], [300539, '2022-10-30', 74251832], [300539, '2022-10-30', 74252734], [300539, '2022-10-30', 74252561], [300539, '2022-10-30', 74253789], [300539, '2022-10-30', 74251489], [300539, '2022-10-30', 74253181], [300539, '2022-10-30', 74253737], [300539, '2022-10-30', 74253532], [300539, '2022-10-30', 74255260], [300539, '2022-10-30', 74257499], [300539, '2022-10-30', 74253129], [300539, '2022-10-30', 74256870], [300539, '2022-10-30', 74256282], [300539, '2022-10-30', 74256848], [300539, '2022-10-30', 74253095], [300539, '2022-10-30', 74251511], [300539, '2022-10-30', 74250205], [300539, '2022-10-30', 74257296], [300539, '2022-10-30', 74254615], [300539, '2022-10-30', 74252794], [300539, '2022-10-30', 74252881], [300539, '2022-10-30', 74251998], [300539, '2022-10-30', 74251850], [300539, '2022-10-30', 74252621], [300539, '2022-10-30', 74253184], [300539, '2022-10-30', 74255215]]
insert_db : else -
sample_insert
sample_insert> get_id_list
sample_insert> get_id_list> posttype==1
sample_insert > create connection
<class 'tuple'>
sample_insert > create connection> dt_p_id_list> 2022-11-30 741
sample_insert > create connection> first_ann_q_id> 2022-11-30 [[300540, '2022-11-30', 74623700], [300540, '2022-11-30', 74625645], [300540, '2022-11-30', 74627330], [300540, '2022-11-30', 74624275], [300540, '2022-11-30', 74629474], [300540, '2022-11-30', 74623539], [300540, '2022-11-30', 74630144], [300540, '2022-11-30', 74631450], [300540, '2022-11-30', 74633113], [300540, '2022-11-30', 74623985], [300540, '2022-11-30', 74621629], [300540, '2022-11-30', 74628724], [300540, '2022-11-30', 74631869], [300540, '2022-11-30', 74635301], [300540, '2022-11-30', 74634781], [300540, '2022-11-30', 74629035], [300540, '2022-11-30', 74624735], [300540, '2022-11-30', 74623175], [300540, '2022-11-30', 74621594], [300540, '2022-11-30', 74630503], [300540, '2022-11-30', 74625443], [300540, '2022-11-30', 74626077], [300540, '2022-11-30', 74621844], [300540, '2022-11-30', 74631596], [300540, '2022-11-30', 74631843], [300540, '2022-11-30', 74627040], [300540, '2022-11-30', 74630226], [300540, '2022-11-30', 74632371], [300540, '2022-11-30', 74622105], [300540, '2022-11-30', 74624685]]
insert_db : else -
sample_insert
sample_insert> get_id_list
sample_insert> get_id_list> posttype==1
sample_insert > create connection
<class 'tuple'>
sample_insert > create connection> dt_p_id_list> 2022-12-30 550
sample_insert > create connection> first_ann_q_id> 2022-12-30 [[300541, '2022-12-30', 74959612], [300541, '2022-12-30', 74958256], [300541, '2022-12-30', 74957327], [300541, '2022-12-30', 74966493], [300541, '2022-12-30', 74964379], [300541, '2022-12-30', 74964170], [300541, '2022-12-30', 74966084], [300541, '2022-12-30', 74960765], [300541, '2022-12-30', 74964590], [300541, '2022-12-30', 74966531], [300541, '2022-12-30', 74963652], [300541, '2022-12-30', 74961567], [300541, '2022-12-30', 74964361], [300541, '2022-12-30', 74963650], [300541, '2022-12-30', 74958039], [300541, '2022-12-30', 74962204], [300541, '2022-12-30', 74963607], [300541, '2022-12-30', 74964175], [300541, '2022-12-30', 74960828], [300541, '2022-12-30', 74958434], [300541, '2022-12-30', 74963599], [300541, '2022-12-30', 74957942], [300541, '2022-12-30', 74965168], [300541, '2022-12-30', 74958626], [300541, '2022-12-30', 74965536], [300541, '2022-12-30', 74961335], [300541, '2022-12-30', 74958862], [300541, '2022-12-30', 74964571], [300541, '2022-12-30', 74966071], [300541, '2022-12-30', 74957709]]
insert_db : else -
sample_insert
sample_insert> get_id_list
sample_insert> get_id_list> posttype==1
sample_insert > create connection
<class 'tuple'>
sample_insert > create connection> dt_p_id_list> 2023-01-30 652
sample_insert > create connection> first_ann_q_id> 2023-01-30 [[300542, '2023-01-30', 75286846], [300542, '2023-01-30', 75284757], [300542, '2023-01-30', 75289660], [300542, '2023-01-30', 75286746], [300542, '2023-01-30', 75290001], [300542, '2023-01-30', 75289464], [300542, '2023-01-30', 75287112], [300542, '2023-01-30', 75279338], [300542, '2023-01-30', 75279667], [300542, '2023-01-30', 75290564], [300542, '2023-01-30', 75287437], [300542, '2023-01-30', 75286292], [300542, '2023-01-30', 75290880], [300542, '2023-01-30', 75283651], [300542, '2023-01-30', 75289345], [300542, '2023-01-30', 75284993], [300542, '2023-01-30', 75289517], [300542, '2023-01-30', 75280182], [300542, '2023-01-30', 75283160], [300542, '2023-01-30', 75280440], [300542, '2023-01-30', 75286650], [300542, '2023-01-30', 75291072], [300542, '2023-01-30', 75285047], [300542, '2023-01-30', 75287341], [300542, '2023-01-30', 75286627], [300542, '2023-01-30', 75290101], [300542, '2023-01-30', 75284148], [300542, '2023-01-30', 75291314], [300542, '2023-01-30', 75284473], [300542, '2023-01-30', 75287464]]
insert_db : else -
sample_insert
sample_insert> get_id_list
sample_insert> get_id_list> posttype==1
sample_insert > create connection
<class 'tuple'>
sample_insert > create connection> dt_p_id_list> 2023-03-02 624

If there is no pattern of num of date

In [ ]:
# sample_insert = si.Sample_Insert('2022-11-29', '2022-11-30', 30, 1, '1', 1111)
# sample_insert.insert_sample()