In [1]:
import sys, os
p = os.path.abspath('..')
# p = p+r'\config'
sys.path.insert(1, p)

In [2]:
import lib.annotation.D_Annotation as da
import lib.annotation.Self_Consistency as sc
import lib.annotation.Sample_Insert as si
import lib.annotation.Q_Extract as qe
import lib.annotation.SampleSelf_Consistency as ssc

In [3]:
from datetime import datetime, timedelta

def return_date_list(stday) :
    start_date = datetime(2021, 12, 1)
    end_date = datetime(2023, 12, 1)

    # 결과 날짜를 저장할 리스트
    dates = []

    # 현재 날짜를 시작 날짜로 설정
    current_date = start_date

    # 매달 15일을 반복하여 계산
    while current_date <= end_date:
        dates.append([datetime(current_date.year, current_date.month, stday).strftime("%Y-%m-%d"), 
                            datetime(current_date.year, current_date.month, stday+1).strftime("%Y-%m-%d")
                        ])
        # 다음 달로 이동
        year = current_date.year
        month = current_date.month + 1
        if month > 12:
            month = 1
            year += 1
        current_date = datetime(year, month, 1)

    return dates

In [4]:
date_5 = return_date_list(5)
date_10 = return_date_list(10)
date_20 = return_date_list(20)
date_25 = return_date_list(25)
# date_20 = return_date_list(30)

In [ ]:
for st_dt, end_dt in date_10:
    num_of_date = int(st_dt.split('-')[2])
    sample_insert = si.Sample_Insert(st_dt, end_dt, 30, 1, '1', num_of_date)
    sample_insert.insert_sample()

sample_insert
sample_insert> get_id_list
sample_insert> get_id_list> posttype==1
sample_insert > create connection
<class 'tuple'>
sample_insert > create connection> dt_p_id_list> 2021-12-05 510
sample_insert > create connection> first_ann_q_id> 2021-12-05 [[50075, '2021-12-05', 70233089], [50075, '2021-12-05', 70236730], [50075, '2021-12-05', 70233512], [50075, '2021-12-05', 70230879], [50075, '2021-12-05', 70231492], [50075, '2021-12-05', 70238215], [50075, '2021-12-05', 70234669], [50075, '2021-12-05', 70238434], [50075, '2021-12-05', 70232425], [50075, '2021-12-05', 70237179], [50075, '2021-12-05', 70233878], [50075, '2021-12-05', 70232584], [50075, '2021-12-05', 70234987], [50075, '2021-12-05', 70238763], [50075, '2021-12-05', 70234141], [50075, '2021-12-05', 70231238], [50075, '2021-12-05', 70233825], [50075, '2021-12-05', 70236755], [50075, '2021-12-05', 70233737], [50075, '2021-12-05', 70236998], [50075, '2021-12-05', 70234376], [50075, '2021-12-05', 70239204], [50075, '2021-12-05', 70238161], [50075, '2021-12-05', 70233265], [50075, '2021-12-05', 70236759], [50075, '2021-12-05', 70231621], [50075, '2021-12-05', 70235974], [50075, '2021-12-05', 70235926], [50075, '2021-12-05', 70233751], [50075, '2021-12-05', 70232208]]
insert_db : else -
sample_insert
sample_insert> get_id_list
sample_insert> get_id_list> posttype==1
sample_insert > create connection
<class 'tuple'>
sample_insert > create connection> dt_p_id_list> 2022-01-05 726
sample_insert > create connection> first_ann_q_id> 2022-01-05 [[50076, '2022-01-05', 70595171], [50076, '2022-01-05', 70594482], [50076, '2022-01-05', 70591045], [50076, '2022-01-05', 70589680], [50076, '2022-01-05', 70592979], [50076, '2022-01-05', 70590772], [50076, '2022-01-05', 70595672], [50076, '2022-01-05', 70595511], [50076, '2022-01-05', 70586422], [50076, '2022-01-05', 70597231], [50076, '2022-01-05', 70600787], [50076, '2022-01-05', 70595070], [50076, '2022-01-05', 70596627], [50076, '2022-01-05', 70587544], [50076, '2022-01-05', 70595579], [50076, '2022-01-05', 70593382], [50076, '2022-01-05', 70592402], [50076, '2022-01-05', 70593493], [50076, '2022-01-05', 70589147], [50076, '2022-01-05', 70600445], [50076, '2022-01-05', 70600959], [50076, '2022-01-05', 70594827], [50076, '2022-01-05', 70589601], [50076, '2022-01-05', 70592242], [50076, '2022-01-05', 70600798], [50076, '2022-01-05', 70597441], [50076, '2022-01-05', 70590399], [50076, '2022-01-05', 70590058], [50076, '2022-01-05', 70598411], [50076, '2022-01-05', 70588766]]
insert_db : else -
sample_insert
sample_insert> get_id_list
sample_insert> get_id_list> posttype==1
sample_insert > create connection
<class 'tuple'>
sample_insert > create connection> dt_p_id_list> 2022-02-05 492
sample_insert > create connection> first_ann_q_id> 2022-02-05 [[50077, '2022-02-05', 70996911], [50077, '2022-02-05', 70999537], [50077, '2022-02-05', 71003121], [50077, '2022-02-05', 70996164], [50077, '2022-02-05', 71002617], [50077, '2022-02-05', 71000523], [50077, '2022-02-05', 70994760], [50077, '2022-02-05', 70998664], [50077, '2022-02-05', 70997748], [50077, '2022-02-05', 70996096], [50077, '2022-02-05', 70997255], [50077, '2022-02-05', 71001202], [50077, '2022-02-05', 70997959], [50077, '2022-02-05', 71001657], [50077, '2022-02-05', 71001611], [50077, '2022-02-05', 71001938], [50077, '2022-02-05', 70995617], [50077, '2022-02-05', 70998350], [50077, '2022-02-05', 71001536], [50077, '2022-02-05', 70997203], [50077, '2022-02-05', 70996197], [50077, '2022-02-05', 70998901], [50077, '2022-02-05', 70997107], [50077, '2022-02-05', 70995983], [50077, '2022-02-05', 71000430], [50077, '2022-02-05', 70997997], [50077, '2022-02-05', 71002265], [50077, '2022-02-05', 70999139], [50077, '2022-02-05', 71001817], [50077, '2022-02-05', 71000696]]
insert_db : else -
sample_insert
sample_insert> get_id_list
sample_insert> get_id_list> posttype==1
sample_insert > create connection
<class 'tuple'>
sample_insert > create connection> dt_p_id_list> 2022-03-05 513
sample_insert > create connection> first_ann_q_id> 2022-03-05 [[50078, '2022-03-05', 71359206], [50078, '2022-03-05', 71362128], [50078, '2022-03-05', 71359558], [50078, '2022-03-05', 71366456], [50078, '2022-03-05', 71365319], [50078, '2022-03-05', 71362620], [50078, '2022-03-05', 71359245], [50078, '2022-03-05', 71362426], [50078, '2022-03-05', 71358582], [50078, '2022-03-05', 71362806], [50078, '2022-03-05', 71365313], [50078, '2022-03-05', 71359784], [50078, '2022-03-05', 71363895], [50078, '2022-03-05', 71360561], [50078, '2022-03-05', 71360287], [50078, '2022-03-05', 71361081], [50078, '2022-03-05', 71364690], [50078, '2022-03-05', 71363339], [50078, '2022-03-05', 71365116], [50078, '2022-03-05', 71359975], [50078, '2022-03-05', 71366537], [50078, '2022-03-05', 71363388], [50078, '2022-03-05', 71358820], [50078, '2022-03-05', 71361319], [50078, '2022-03-05', 71360819], [50078, '2022-03-05', 71363348], [50078, '2022-03-05', 71362504], [50078, '2022-03-05', 71364162], [50078, '2022-03-05', 71362586], [50078, '2022-03-05', 71360678]]
insert_db : else -
sample_insert
sample_insert> get_id_list
sample_insert> get_id_list> posttype==1
sample_insert > create connection
<class 'tuple'>
sample_insert > create connection> dt_p_id_list> 2022-04-05 769
sample_insert > create connection> first_ann_q_id> 2022-04-05 [[50079, '2022-04-05', 71749970], [50079, '2022-04-05', 71758929], [50079, '2022-04-05', 71754627], [50079, '2022-04-05', 71759533], [50079, '2022-04-05', 71745399], [50079, '2022-04-05', 71746958], [50079, '2022-04-05', 71754220], [50079, '2022-04-05', 71749575], [50079, '2022-04-05', 71745028], [50079, '2022-04-05', 71755583], [50079, '2022-04-05', 71748741], [50079, '2022-04-05', 71745500], [50079, '2022-04-05', 71750757], [50079, '2022-04-05', 71756758], [50079, '2022-04-05', 71747598], [50079, '2022-04-05', 71745747], [50079, '2022-04-05', 71755627], [50079, '2022-04-05', 71759038], [50079, '2022-04-05', 71749186], [50079, '2022-04-05', 71754827], [50079, '2022-04-05', 71759514], [50079, '2022-04-05', 71752401], [50079, '2022-04-05', 71745774], [50079, '2022-04-05', 71753701], [50079, '2022-04-05', 71754736], [50079, '2022-04-05', 71749079], [50079, '2022-04-05', 71749374], [50079, '2022-04-05', 71746787], [50079, '2022-04-05', 71757429], [50079, '2022-04-05', 71745973]]
insert_db : else -
sample_insert
sample_insert> get_id_list
sample_insert> get_id_list> posttype==1
sample_insert > create connection
<class 'tuple'>
sample_insert > create connection> dt_p_id_list> 2022-05-05 749
sample_insert > create connection> first_ann_q_id> 2022-05-05 [[50080, '2022-05-05', 72126522], [50080, '2022-05-05', 72132292], [50080, '2022-05-05', 72120659], [50080, '2022-05-05', 72129937], [50080, '2022-05-05', 72133338], [50080, '2022-05-05', 72121307], [50080, '2022-05-05', 72129983], [50080, '2022-05-05', 72129187], [50080, '2022-05-05', 72131045], [50080, '2022-05-05', 72127258], [50080, '2022-05-05', 72121661], [50080, '2022-05-05', 72133964], [50080, '2022-05-05', 72127431], [50080, '2022-05-05', 72126652], [50080, '2022-05-05', 72120817], [50080, '2022-05-05', 72126620], [50080, '2022-05-05', 72132723], [50080, '2022-05-05', 72120716], [50080, '2022-05-05', 72129314], [50080, '2022-05-05', 72128421], [50080, '2022-05-05', 72128977], [50080, '2022-05-05', 72131223], [50080, '2022-05-05', 72126567], [50080, '2022-05-05', 72133316], [50080, '2022-05-05', 72123367], [50080, '2022-05-05', 72130074], [50080, '2022-05-05', 72128596], [50080, '2022-05-05', 72125233], [50080, '2022-05-05', 72132074], [50080, '2022-05-05', 72130107]]
insert_db : else -
sample_insert
sample_insert> get_id_list
sample_insert> get_id_list> posttype==1
sample_insert > create connection
<class 'tuple'>
sample_insert > create connection> dt_p_id_list> 2022-06-05 420
sample_insert > create connection> first_ann_q_id> 2022-06-05 [[50081, '2022-06-05', 72508734], [50081, '2022-06-05', 72508586], [50081, '2022-06-05', 72508679], [50081, '2022-06-05', 72605505], [50081, '2022-06-05', 72511500], [50081, '2022-06-05', 72510673], [50081, '2022-06-05', 72511793], [50081, '2022-06-05', 72509104], [50081, '2022-06-05', 72511059], [50081, '2022-06-05', 72511755], [50081, '2022-06-05', 72506486], [50081, '2022-06-05', 72510944], [50081, '2022-06-05', 72509188], [50081, '2022-06-05', 72505968], [50081, '2022-06-05', 72505199], [50081, '2022-06-05', 72504227], [50081, '2022-06-05', 72503995], [50081, '2022-06-05', 72506224], [50081, '2022-06-05', 72504883], [50081, '2022-06-05', 72504965], [50081, '2022-06-05', 72511256], [50081, '2022-06-05', 72506700], [50081, '2022-06-05', 72509036], [50081, '2022-06-05', 72506525], [50081, '2022-06-05', 72511881], [50081, '2022-06-05', 72506184], [50081, '2022-06-05', 72511202], [50081, '2022-06-05', 72506975], [50081, '2022-06-05', 72505286], [50081, '2022-06-05', 72509239]]
insert_db : else -
sample_insert
sample_insert> get_id_list
sample_insert> get_id_list> posttype==1
sample_insert > create connection
<class 'tuple'>
sample_insert > create connection> dt_p_id_list> 2022-07-05 726
sample_insert > create connection> first_ann_q_id> 2022-07-05 [[50082, '2022-07-05', 72866756], [50082, '2022-07-05', 72869285], [50082, '2022-07-05', 72873790], [50082, '2022-07-05', 72874653], [50082, '2022-07-05', 72869666], [50082, '2022-07-05', 72872480], [50082, '2022-07-05', 72865898], [50082, '2022-07-05', 72863260], [50082, '2022-07-05', 72876022], [50082, '2022-07-05', 72875562], [50082, '2022-07-05', 72874264], [50082, '2022-07-05', 72866852], [50082, '2022-07-05', 72864297], [50082, '2022-07-05', 72868124], [50082, '2022-07-05', 72875198], [50082, '2022-07-05', 72874902], [50082, '2022-07-05', 72864733], [50082, '2022-07-05', 72871187], [50082, '2022-07-05', 72865830], [50082, '2022-07-05', 72866329], [50082, '2022-07-05', 72869808], [50082, '2022-07-05', 72868554], [50082, '2022-07-05', 72876485], [50082, '2022-07-05', 72871715], [50082, '2022-07-05', 72870043], [50082, '2022-07-05', 72876384], [50082, '2022-07-05', 72863274], [50082, '2022-07-05', 72873417], [50082, '2022-07-05', 72874718], [50082, '2022-07-05', 72863091]]
insert_db : else -
sample_insert
sample_insert> get_id_list
sample_insert> get_id_list> posttype==1
sample_insert > create connection
<class 'tuple'>
sample_insert > create connection> dt_p_id_list> 2022-08-05 666
sample_insert > create connection> first_ann_q_id> 2022-08-05 [[50083, '2022-08-05', 73244122], [50083, '2022-08-05', 73252516], [50083, '2022-08-05', 73255041], [50083, '2022-08-05', 73248088], [50083, '2022-08-05', 73251667], [50083, '2022-08-05', 73248936], [50083, '2022-08-05', 73243570], [50083, '2022-08-05', 73254126], [50083, '2022-08-05', 73251401], [50083, '2022-08-05', 73251452], [50083, '2022-08-05', 73251956], [50083, '2022-08-05', 73252043], [50083, '2022-08-05', 73252723], [50083, '2022-08-05', 73244064], [50083, '2022-08-05', 73250800], [50083, '2022-08-05', 73243488], [50083, '2022-08-05', 73244588], [50083, '2022-08-05', 73248978], [50083, '2022-08-05', 73246822], [50083, '2022-08-05', 73248184], [50083, '2022-08-05', 73255097], [50083, '2022-08-05', 73245124], [50083, '2022-08-05', 73251340], [50083, '2022-08-05', 73253761], [50083, '2022-08-05', 73245707], [50083, '2022-08-05', 73250956], [50083, '2022-08-05', 73246266], [50083, '2022-08-05', 73250198], [50083, '2022-08-05', 73252119], [50083, '2022-08-05', 73253718]]
insert_db : else -
sample_insert
sample_insert> get_id_list
sample_insert> get_id_list> posttype==1
sample_insert > create connection
<class 'tuple'>
sample_insert > create connection> dt_p_id_list> 2022-09-05 544
sample_insert > create connection> first_ann_q_id> 2022-09-05 [[50084, '2022-09-05', 73614535], [50084, '2022-09-05', 73613455], [50084, '2022-09-05', 73604488], [50084, '2022-09-05', 73612039], [50084, '2022-09-05', 73612612], [50084, '2022-09-05', 73610019], [50084, '2022-09-05', 73612417], [50084, '2022-09-05', 73603946], [50084, '2022-09-05', 73609043], [50084, '2022-09-05', 73611292], [50084, '2022-09-05', 73604045], [50084, '2022-09-05', 73606213], [50084, '2022-09-05', 73609639], [50084, '2022-09-05', 73606455], [50084, '2022-09-05', 73614013], [50084, '2022-09-05', 73604654], [50084, '2022-09-05', 73613457], [50084, '2022-09-05', 73609201], [50084, '2022-09-05', 73611256], [50084, '2022-09-05', 73606665], [50084, '2022-09-05', 73611547], [50084, '2022-09-05', 73612107], [50084, '2022-09-05', 73603766], [50084, '2022-09-05', 73605447], [50084, '2022-09-05', 73605770], [50084, '2022-09-05', 73614248], [50084, '2022-09-05', 73603971], [50084, '2022-09-05', 73610201], [50084, '2022-09-05', 73612958], [50084, '2022-09-05', 73603681]]
insert_db : else -
sample_insert
sample_insert> get_id_list
sample_insert> get_id_list> posttype==1
sample_insert > create connection
<class 'tuple'>
sample_insert > create connection> dt_p_id_list> 2022-10-05 689
sample_insert > create connection> first_ann_q_id> 2022-10-05 [[50085, '2022-10-05', 73967032], [50085, '2022-10-05', 73967310], [50085, '2022-10-05', 73962938], [50085, '2022-10-05', 73966277], [50085, '2022-10-05', 73964444], [50085, '2022-10-05', 73964080], [50085, '2022-10-05', 73962907], [50085, '2022-10-05', 73958018], [50085, '2022-10-05', 73958273], [50085, '2022-10-05', 73959029], [50085, '2022-10-05', 73961958], [50085, '2022-10-05', 73965136], [50085, '2022-10-05', 73963862], [50085, '2022-10-05', 73965135], [50085, '2022-10-05', 73955697], [50085, '2022-10-05', 73956884], [50085, '2022-10-05', 73962462], [50085, '2022-10-05', 73960504], [50085, '2022-10-05', 73955333], [50085, '2022-10-05', 73957570], [50085, '2022-10-05', 73961894], [50085, '2022-10-05', 73958091], [50085, '2022-10-05', 73961032], [50085, '2022-10-05', 73967130], [50085, '2022-10-05', 73963633], [50085, '2022-10-05', 73959840], [50085, '2022-10-05', 73966160], [50085, '2022-10-05', 73955268], [50085, '2022-10-05', 73957276], [50085, '2022-10-05', 73964706]]
insert_db : else -
sample_insert
sample_insert> get_id_list
sample_insert> get_id_list> posttype==1
sample_insert > create connection
<class 'tuple'>
sample_insert > create connection> dt_p_id_list> 2022-11-05 442
sample_insert > create connection> first_ann_q_id> 2022-11-05 [[50086, '2022-11-05', 74330611], [50086, '2022-11-05', 74326688], [50086, '2022-11-05', 74328276], [50086, '2022-11-05', 74324358], [50086, '2022-11-05', 74324251], [50086, '2022-11-05', 74330558], [50086, '2022-11-05', 74331014], [50086, '2022-11-05', 74331141], [50086, '2022-11-05', 74324269], [50086, '2022-11-05', 74329721], [50086, '2022-11-05', 74328356], [50086, '2022-11-05', 74330070], [50086, '2022-11-05', 74329816], [50086, '2022-11-05', 74329793], [50086, '2022-11-05', 74331425], [50086, '2022-11-05', 74328311], [50086, '2022-11-05', 74327312], [50086, '2022-11-05', 74326810], [50086, '2022-11-05', 74324693], [50086, '2022-11-05', 74330719], [50086, '2022-11-05', 74327160], [50086, '2022-11-05', 74327896], [50086, '2022-11-05', 74330369], [50086, '2022-11-05', 74331873], [50086, '2022-11-05', 74326998], [50086, '2022-11-05', 74326301], [50086, '2022-11-05', 74331625], [50086, '2022-11-05', 74325138], [50086, '2022-11-05', 74331874], [50086, '2022-11-05', 74327579]]
insert_db : else -
sample_insert
sample_insert> get_id_list
sample_insert> get_id_list> posttype==1
sample_insert > create connection
<class 'tuple'>
sample_insert > create connection> dt_p_id_list> 2022-12-05 786
sample_insert > create connection> first_ann_q_id> 2022-12-05 [[50087, '2022-12-05', 74691156], [50087, '2022-12-05', 74682391], [50087, '2022-12-05', 74691919], [50087, '2022-12-05', 74695127], [50087, '2022-12-05', 74689457], [50087, '2022-12-05', 74695023], [50087, '2022-12-05', 74687169], [50087, '2022-12-05', 74693665], [50087, '2022-12-05', 74690111], [50087, '2022-12-05', 74688089], [50087, '2022-12-05', 74682602], [50087, '2022-12-05', 74691793], [50087, '2022-12-05', 74683664], [50087, '2022-12-05', 74683108], [50087, '2022-12-05', 74688413], [50087, '2022-12-05', 74686667], [50087, '2022-12-05', 74684281], [50087, '2022-12-05', 74683468], [50087, '2022-12-05', 74689713], [50087, '2022-12-05', 74683957], [50087, '2022-12-05', 74691172], [50087, '2022-12-05', 74694508], [50087, '2022-12-05', 74691418], [50087, '2022-12-05', 74693714], [50087, '2022-12-05', 74690942], [50087, '2022-12-05', 74683588], [50087, '2022-12-05', 74687965], [50087, '2022-12-05', 74689701], [50087, '2022-12-05', 74682323], [50087, '2022-12-05', 74693524]]
insert_db : else -
sample_insert
sample_insert> get_id_list
sample_insert> get_id_list> posttype==1
sample_insert > create connection
<class 'tuple'>
sample_insert > create connection> dt_p_id_list> 2023-01-05 741
sample_insert > create connection> first_ann_q_id> 2023-01-05 [[50088, '2023-01-05', 75023090], [50088, '2023-01-05', 75012750], [50088, '2023-01-05', 75019865], [50088, '2023-01-05', 75013555], [50088, '2023-01-05', 75012589], [50088, '2023-01-05', 75018635], [50088, '2023-01-05', 75023945], [50088, '2023-01-05', 75022556], [50088, '2023-01-05', 75025044], [50088, '2023-01-05', 75025065], [50088, '2023-01-05', 75025460], [50088, '2023-01-05', 75021626], [50088, '2023-01-05', 75014354], [50088, '2023-01-05', 75018991], [50088, '2023-01-05', 75023345], [50088, '2023-01-05', 75021534], [50088, '2023-01-05', 75023901], [50088, '2023-01-05', 75014987], [50088, '2023-01-05', 75013957], [50088, '2023-01-05', 75015165], [50088, '2023-01-05', 75020251], [50088, '2023-01-05', 75018938], [50088, '2023-01-05', 75024687], [50088, '2023-01-05', 75022843], [50088, '2023-01-05', 75020539], [50088, '2023-01-05', 75016142], [50088, '2023-01-05', 75014968], [50088, '2023-01-05', 75020267], [50088, '2023-01-05', 75019859], [50088, '2023-01-05', 75019852]]
insert_db : else -
sample_insert
sample_insert> get_id_list
sample_insert> get_id_list> posttype==1
sample_insert > create connection
<class 'tuple'>
sample_insert > create connection> dt_p_id_list> 2023-02-05 401
sample_insert > create connection> first_ann_q_id> 2023-02-05 [[50089, '2023-02-05', 75353556], [50089, '2023-02-05', 75353394], [50089, '2023-02-05', 75349920], [50089, '2023-02-05', 75353428], [50089, '2023-02-05', 75349382], [50089, '2023-02-05', 75351818], [50089, '2023-02-05', 75354104], [50089, '2023-02-05', 75349793], [50089, '2023-02-05', 75355183], [50089, '2023-02-05', 75349567], [50089, '2023-02-05', 75355563], [50089, '2023-02-05', 75353331], [50089, '2023-02-05', 75356024], [50089, '2023-02-05', 75355063], [50089, '2023-02-05', 75354726], [50089, '2023-02-05', 75351111], [50089, '2023-02-05', 75355243], [50089, '2023-02-05', 75355246], [50089, '2023-02-05', 75356325], [50089, '2023-02-05', 75352833], [50089, '2023-02-05', 75353497], [50089, '2023-02-05', 75351387], [50089, '2023-02-05', 75353008], [50089, '2023-02-05', 75355297], [50089, '2023-02-05', 75349927], [50089, '2023-02-05', 75352483], [50089, '2023-02-05', 75356339], [50089, '2023-02-05', 75350446], [50089, '2023-02-05', 75353450], [50089, '2023-02-05', 75354231]]
insert_db : else -
sample_insert
sample_insert> get_id_list
sample_insert> get_id_list> posttype==1
sample_insert > create connection
<class 'tuple'>
sample_insert > create connection> dt_p_id_list> 2023-03-05 361

In [ ]:
# get samples from database;
# for x in range(10):
#     sample_insert.insert_sample()

In [ ]:
# ver = 1
# date = '2024-12-04'

# q_output = sample_insert.get_target_list(ver, date)

In [ ]:
# t_extract = qe.Q_Extract('2022-10-01', '2022-12-31', 1, '2024-12-04', 'Y')
# df = t_extract.db_extract()
# q_output = t_extract.tb_extract(df)

# print('SampleSelf_Consistency start')
# sample_sc = ssc.SampleSelf_Consistency('2024-12-04', 1, q_output[:1]) 
# print('SampleSelf_Consistency end')

# print('write_promt start')
# chk_list = sample_sc.write_promt()
# print('write_promt end')

# print('calc_acc_for_l start')
# result_df = sample_sc.calc_acc_for_l()
# print('calc_acc_for_l end')