In [1]:
import sys, os
p = os.path.abspath('..')
# p = p+r'\config'
sys.path.insert(1, p)

In [2]:
import lib.annotation.D_Annotation as da
import lib.annotation.Self_Consistency as sc
import lib.annotation.Sample_Insert as si
import lib.annotation.Q_Extract as qe
import lib.annotation.SampleSelf_Consistency as ssc

In [3]:
from datetime import datetime, timedelta

def return_date_list(stday) :
    start_date = datetime(2021, 12, 1)
    end_date = datetime(2023, 12, 1)

    # 결과 날짜를 저장할 리스트
    dates = []

    # 현재 날짜를 시작 날짜로 설정
    current_date = start_date

    # 매달 15일을 반복하여 계산
    while current_date <= end_date:
        dates.append([datetime(current_date.year, current_date.month, stday).strftime("%Y-%m-%d"), 
                            datetime(current_date.year, current_date.month, stday+1).strftime("%Y-%m-%d")
                        ])
        # 다음 달로 이동
        year = current_date.year
        month = current_date.month + 1
        if month > 12:
            month = 1
            year += 1
        current_date = datetime(year, month, 1)

    return dates

In [4]:
date_5 = return_date_list(5)
date_10 = return_date_list(10)
date_20 = return_date_list(20)
date_25 = return_date_list(25)
# date_20 = return_date_list(30)

In [26]:
for st_dt, end_dt in date_25:
    num_of_date = int(st_dt.split('-')[2])
    sample_insert = si.Sample_Insert(st_dt, end_dt, 30, 1, '1', num_of_date)
    sample_insert.insert_sample()

sample_insert
sample_insert> get_id_list
sample_insert> get_id_list> posttype==1
sample_insert > create connection
<class 'tuple'>
sample_insert > create connection> dt_p_id_list> 2021-12-25 344
sample_insert > create connection> first_ann_q_id> 2021-12-25 [[250225, '2021-12-25', 70482236], [250225, '2021-12-25', 70483341], [250225, '2021-12-25', 70479630], [250225, '2021-12-25', 70477780], [250225, '2021-12-25', 70480543], [250225, '2021-12-25', 70482332], [250225, '2021-12-25', 70477940], [250225, '2021-12-25', 70477929], [250225, '2021-12-25', 70482865], [250225, '2021-12-25', 70480228], [250225, '2021-12-25', 70477337], [250225, '2021-12-25', 70479320], [250225, '2021-12-25', 70480841], [250225, '2021-12-25', 70480106], [250225, '2021-12-25', 70477611], [250225, '2021-12-25', 70480972], [250225, '2021-12-25', 70481956], [250225, '2021-12-25', 70482599], [250225, '2021-12-25', 70479134], [250225, '2021-12-25', 70483411], [250225, '2021-12-25', 70482844], [250225, '2021-12-25', 70477911], [250225, '2021-12-25', 70483421], [250225, '2021-12-25', 70479217], [250225, '2021-12-25', 70479240], [250225, '2021-12-25', 70478271], [250225, '2021-12-25', 70478021], [250225, '2021-12-25', 70482205], [250225, '2021-12-25', 70482664], [250225, '2021-12-25', 70478466]]
insert_db : else -
sample_insert
sample_insert> get_id_list
sample_insert> get_id_list> posttype==1
sample_insert > create connection
<class 'tuple'>
sample_insert > create connection> dt_p_id_list> 2022-01-25 781
sample_insert > create connection> first_ann_q_id> 2022-01-25 [[250226, '2022-01-25', 70849134], [250226, '2022-01-25', 70856377], [250226, '2022-01-25', 70846642], [250226, '2022-01-25', 70856063], [250226, '2022-01-25', 70856613], [250226, '2022-01-25', 70851370], [250226, '2022-01-25', 70843591], [250226, '2022-01-25', 70849255], [250226, '2022-01-25', 70850205], [250226, '2022-01-25', 70842767], [250226, '2022-01-25', 70854091], [250226, '2022-01-25', 70842220], [250226, '2022-01-25', 70842447], [250226, '2022-01-25', 70850799], [250226, '2022-01-25', 70852817], [250226, '2022-01-25', 70855196], [250226, '2022-01-25', 70848005], [250226, '2022-01-25', 70852684], [250226, '2022-01-25', 70856289], [250226, '2022-01-25', 70843469], [250226, '2022-01-25', 70847690], [250226, '2022-01-25', 70844616], [250226, '2022-01-25', 70848991], [250226, '2022-01-25', 70842564], [250226, '2022-01-25', 70845111], [250226, '2022-01-25', 70850898], [250226, '2022-01-25', 70855587], [250226, '2022-01-25', 70847170], [250226, '2022-01-25', 70854884], [250226, '2022-01-25', 70850791]]
insert_db : else -
sample_insert
sample_insert> get_id_list
sample_insert> get_id_list> posttype==1
sample_insert > create connection
<class 'tuple'>
sample_insert > create connection> dt_p_id_list> 2022-02-25 714
sample_insert > create connection> first_ann_q_id> 2022-02-25 [[250227, '2022-02-25', 71272506], [250227, '2022-02-25', 71260141], [250227, '2022-02-25', 71263800], [250227, '2022-02-25', 71272756], [250227, '2022-02-25', 71260938], [250227, '2022-02-25', 71271468], [250227, '2022-02-25', 71271096], [250227, '2022-02-25', 71272135], [250227, '2022-02-25', 71265659], [250227, '2022-02-25', 71268676], [250227, '2022-02-25', 71264247], [250227, '2022-02-25', 71264741], [250227, '2022-02-25', 71272364], [250227, '2022-02-25', 71260459], [250227, '2022-02-25', 71272492], [250227, '2022-02-25', 71263166], [250227, '2022-02-25', 71262367], [250227, '2022-02-25', 71259713], [250227, '2022-02-25', 71272723], [250227, '2022-02-25', 71272886], [250227, '2022-02-25', 71260850], [250227, '2022-02-25', 71272132], [250227, '2022-02-25', 71261768], [250227, '2022-02-25', 71272650], [250227, '2022-02-25', 71272798], [250227, '2022-02-25', 71268065], [250227, '2022-02-25', 71262767], [250227, '2022-02-25', 71268881], [250227, '2022-02-25', 71268742], [250227, '2022-02-25', 71270399]]
insert_db : else -
sample_insert
sample_insert> get_id_list
sample_insert> get_id_list> posttype==1
sample_insert > create connection
<class 'tuple'>
sample_insert > create connection> dt_p_id_list> 2022-03-25 663
sample_insert > create connection> first_ann_q_id> 2022-03-25 [[250228, '2022-03-25', 71618305], [250228, '2022-03-25', 71612119], [250228, '2022-03-25', 71615762], [250228, '2022-03-25', 71620074], [250228, '2022-03-25', 71617014], [250228, '2022-03-25', 71618760], [250228, '2022-03-25', 71622905], [250228, '2022-03-25', 71615402], [250228, '2022-03-25', 71615380], [250228, '2022-03-25', 71621379], [250228, '2022-03-25', 71622286], [250228, '2022-03-25', 71622799], [250228, '2022-03-25', 71611424], [250228, '2022-03-25', 71621304], [250228, '2022-03-25', 71616057], [250228, '2022-03-25', 71611083], [250228, '2022-03-25', 71612954], [250228, '2022-03-25', 71618165], [250228, '2022-03-25', 71616078], [250228, '2022-03-25', 71611034], [250228, '2022-03-25', 71616290], [250228, '2022-03-25', 71620506], [250228, '2022-03-25', 71619552], [250228, '2022-03-25', 71617032], [250228, '2022-03-25', 71614318], [250228, '2022-03-25', 71618315], [250228, '2022-03-25', 71619248], [250228, '2022-03-25', 71620843], [250228, '2022-03-25', 71611571], [250228, '2022-03-25', 71614460]]
insert_db : else -
sample_insert
sample_insert> get_id_list
sample_insert> get_id_list> posttype==1
sample_insert > create connection
<class 'tuple'>
sample_insert > create connection> dt_p_id_list> 2022-04-25 704
sample_insert > create connection> first_ann_q_id> 2022-04-25 [[250229, '2022-04-25', 71999778], [250229, '2022-04-25', 71996730], [250229, '2022-04-25', 72001712], [250229, '2022-04-25', 72002974], [250229, '2022-04-25', 72005641], [250229, '2022-04-25', 72005284], [250229, '2022-04-25', 71998808], [250229, '2022-04-25', 72000307], [250229, '2022-04-25', 72005485], [250229, '2022-04-25', 72006387], [250229, '2022-04-25', 71993409], [250229, '2022-04-25', 71994476], [250229, '2022-04-25', 72006861], [250229, '2022-04-25', 72006586], [250229, '2022-04-25', 72003088], [250229, '2022-04-25', 71994629], [250229, '2022-04-25', 71993348], [250229, '2022-04-25', 71998132], [250229, '2022-04-25', 71996674], [250229, '2022-04-25', 71993462], [250229, '2022-04-25', 71997096], [250229, '2022-04-25', 72004025], [250229, '2022-04-25', 72002357], [250229, '2022-04-25', 72001569], [250229, '2022-04-25', 71997939], [250229, '2022-04-25', 72001211], [250229, '2022-04-25', 72003765], [250229, '2022-04-25', 72001149], [250229, '2022-04-25', 72004906], [250229, '2022-04-25', 72004547]]
insert_db : else -
sample_insert
sample_insert> get_id_list
sample_insert> get_id_list> posttype==1
sample_insert > create connection
<class 'tuple'>
sample_insert > create connection> dt_p_id_list> 2022-05-25 738
sample_insert > create connection> first_ann_q_id> 2022-05-25 [[250230, '2022-05-25', 72374720], [250230, '2022-05-25', 72373823], [250230, '2022-05-25', 72382664], [250230, '2022-05-25', 72382278], [250230, '2022-05-25', 72373034], [250230, '2022-05-25', 72371137], [250230, '2022-05-25', 72373873], [250230, '2022-05-25', 72376842], [250230, '2022-05-25', 72381433], [250230, '2022-05-25', 72380666], [250230, '2022-05-25', 72383355], [250230, '2022-05-25', 72382501], [250230, '2022-05-25', 72375562], [250230, '2022-05-25', 72384729], [250230, '2022-05-25', 72380087], [250230, '2022-05-25', 72376771], [250230, '2022-05-25', 72382591], [250230, '2022-05-25', 72382713], [250230, '2022-05-25', 72383016], [250230, '2022-05-25', 72375050], [250230, '2022-05-25', 72381723], [250230, '2022-05-25', 72376660], [250230, '2022-05-25', 72374884], [250230, '2022-05-25', 72373322], [250230, '2022-05-25', 72374840], [250230, '2022-05-25', 72377835], [250230, '2022-05-25', 72371716], [250230, '2022-05-25', 72376854], [250230, '2022-05-25', 72384034], [250230, '2022-05-25', 72375544]]
insert_db : else -
sample_insert
sample_insert> get_id_list
sample_insert> get_id_list> posttype==1
sample_insert > create connection
<class 'tuple'>
sample_insert > create connection> dt_p_id_list> 2022-06-25 411
sample_insert > create connection> first_ann_q_id> 2022-06-25 [[250231, '2022-06-25', 72753505], [250231, '2022-06-25', 72755672], [250231, '2022-06-25', 72754269], [250231, '2022-06-25', 72756419], [250231, '2022-06-25', 72756437], [250231, '2022-06-25', 72757561], [250231, '2022-06-25', 72757932], [250231, '2022-06-25', 72755809], [250231, '2022-06-25', 72752478], [250231, '2022-06-25', 72752458], [250231, '2022-06-25', 72750845], [250231, '2022-06-25', 72752257], [250231, '2022-06-25', 72757816], [250231, '2022-06-25', 72753856], [250231, '2022-06-25', 72754477], [250231, '2022-06-25', 72752051], [250231, '2022-06-25', 72752976], [250231, '2022-06-25', 72756889], [250231, '2022-06-25', 72751969], [250231, '2022-06-25', 72756724], [250231, '2022-06-25', 72754422], [250231, '2022-06-25', 72752307], [250231, '2022-06-25', 72753204], [250231, '2022-06-25', 72751821], [250231, '2022-06-25', 72752287], [250231, '2022-06-25', 72751549], [250231, '2022-06-25', 72750976], [250231, '2022-06-25', 72753718], [250231, '2022-06-25', 72751023], [250231, '2022-06-25', 72755817]]
insert_db : else -
sample_insert
sample_insert> get_id_list
sample_insert> get_id_list> posttype==1
sample_insert > create connection
<class 'tuple'>
sample_insert > create connection> dt_p_id_list> 2022-07-25 706
sample_insert > create connection> first_ann_q_id> 2022-07-25 [[250232, '2022-07-25', 73115986], [250232, '2022-07-25', 73110879], [250232, '2022-07-25', 73105485], [250232, '2022-07-25', 73104893], [250232, '2022-07-25', 73108619], [250232, '2022-07-25', 73109769], [250232, '2022-07-25', 73112301], [250232, '2022-07-25', 73103556], [250232, '2022-07-25', 73104543], [250232, '2022-07-25', 73103866], [250232, '2022-07-25', 73115216], [250232, '2022-07-25', 73110772], [250232, '2022-07-25', 73105277], [250232, '2022-07-25', 73112019], [250232, '2022-07-25', 73114447], [250232, '2022-07-25', 73104347], [250232, '2022-07-25', 73112369], [250232, '2022-07-25', 73115910], [250232, '2022-07-25', 73116242], [250232, '2022-07-25', 73113642], [250232, '2022-07-25', 73103566], [250232, '2022-07-25', 73106196], [250232, '2022-07-25', 73109943], [250232, '2022-07-25', 73105793], [250232, '2022-07-25', 73109322], [250232, '2022-07-25', 73111387], [250232, '2022-07-25', 73106799], [250232, '2022-07-25', 73116047], [250232, '2022-07-25', 73112638], [250232, '2022-07-25', 73109590]]
insert_db : else -
sample_insert
sample_insert> get_id_list
sample_insert> get_id_list> posttype==1
sample_insert > create connection
<class 'tuple'>
sample_insert > create connection> dt_p_id_list> 2022-08-25 669
sample_insert > create connection> first_ann_q_id> 2022-08-25 [[250233, '2022-08-25', 73489431], [250233, '2022-08-25', 73493550], [250233, '2022-08-25', 73492942], [250233, '2022-08-25', 73480884], [250233, '2022-08-25', 73480835], [250233, '2022-08-25', 73480869], [250233, '2022-08-25', 73494504], [250233, '2022-08-25', 73485095], [250233, '2022-08-25', 73490752], [250233, '2022-08-25', 73482402], [250233, '2022-08-25', 73494075], [250233, '2022-08-25', 73490276], [250233, '2022-08-25', 73490842], [250233, '2022-08-25', 73494713], [250233, '2022-08-25', 73486913], [250233, '2022-08-25', 73482467], [250233, '2022-08-25', 73485236], [250233, '2022-08-25', 73485731], [250233, '2022-08-25', 73481493], [250233, '2022-08-25', 73484658], [250233, '2022-08-25', 73494350], [250233, '2022-08-25', 73493264], [250233, '2022-08-25', 73487013], [250233, '2022-08-25', 73489045], [250233, '2022-08-25', 73489141], [250233, '2022-08-25', 73483333], [250233, '2022-08-25', 73482742], [250233, '2022-08-25', 73491953], [250233, '2022-08-25', 73493618], [250233, '2022-08-25', 73490065]]
insert_db : else -
sample_insert
sample_insert> get_id_list
sample_insert> get_id_list> posttype==1
sample_insert > create connection
<class 'tuple'>
sample_insert > create connection> dt_p_id_list> 2022-09-25 420
sample_insert > create connection> first_ann_q_id> 2022-09-25 [[250234, '2022-09-25', 73847720], [250234, '2022-09-25', 73845417], [250234, '2022-09-25', 73841478], [250234, '2022-09-25', 73845917], [250234, '2022-09-25', 73847549], [250234, '2022-09-25', 73845735], [250234, '2022-09-25', 73848170], [250234, '2022-09-25', 73847903], [250234, '2022-09-25', 73848386], [250234, '2022-09-25', 73845857], [250234, '2022-09-25', 73847227], [250234, '2022-09-25', 73843920], [250234, '2022-09-25', 73843473], [250234, '2022-09-25', 73842549], [250234, '2022-09-25', 73845647], [250234, '2022-09-25', 73845301], [250234, '2022-09-25', 73846342], [250234, '2022-09-25', 73842893], [250234, '2022-09-25', 73848140], [250234, '2022-09-25', 73841459], [250234, '2022-09-25', 73844210], [250234, '2022-09-25', 73848245], [250234, '2022-09-25', 73845936], [250234, '2022-09-25', 73846501], [250234, '2022-09-25', 73842620], [250234, '2022-09-25', 73844487], [250234, '2022-09-25', 73845850], [250234, '2022-09-25', 73841484], [250234, '2022-09-25', 73841981], [250234, '2022-09-25', 73842931]]
insert_db : else -
sample_insert
sample_insert> get_id_list
sample_insert> get_id_list> posttype==1
sample_insert > create connection
<class 'tuple'>
sample_insert > create connection> dt_p_id_list> 2022-10-25 737
sample_insert > create connection> first_ann_q_id> 2022-10-25 [[250235, '2022-10-25', 74194048], [250235, '2022-10-25', 74197552], [250235, '2022-10-25', 74191692], [250235, '2022-10-25', 74188784], [250235, '2022-10-25', 74189812], [250235, '2022-10-25', 74194564], [250235, '2022-10-25', 74190488], [250235, '2022-10-25', 74198255], [250235, '2022-10-25', 74199744], [250235, '2022-10-25', 74197867], [250235, '2022-10-25', 74190470], [250235, '2022-10-25', 74195130], [250235, '2022-10-25', 74200040], [250235, '2022-10-25', 74197138], [250235, '2022-10-25', 74197919], [250235, '2022-10-25', 74189001], [250235, '2022-10-25', 74194435], [250235, '2022-10-25', 74195017], [250235, '2022-10-25', 74200212], [250235, '2022-10-25', 74192296], [250235, '2022-10-25', 74194598], [250235, '2022-10-25', 74195998], [250235, '2022-10-25', 74198282], [250235, '2022-10-25', 74190204], [250235, '2022-10-25', 74194060], [250235, '2022-10-25', 74198471], [250235, '2022-10-25', 74197225], [250235, '2022-10-25', 74192524], [250235, '2022-10-25', 74188982], [250235, '2022-10-25', 74201041]]
insert_db : else -
sample_insert
sample_insert> get_id_list
sample_insert> get_id_list> posttype==1
sample_insert > create connection
<class 'tuple'>
sample_insert > create connection> dt_p_id_list> 2022-11-25 599
sample_insert > create connection> first_ann_q_id> 2022-11-25 [[250236, '2022-11-25', 74573226], [250236, '2022-11-25', 74572144], [250236, '2022-11-25', 74577029], [250236, '2022-11-25', 74570186], [250236, '2022-11-25', 74568581], [250236, '2022-11-25', 74572778], [250236, '2022-11-25', 74568534], [250236, '2022-11-25', 74570681], [250236, '2022-11-25', 74571753], [250236, '2022-11-25', 74577277], [250236, '2022-11-25', 74578371], [250236, '2022-11-25', 74570586], [250236, '2022-11-25', 74573469], [250236, '2022-11-25', 74576610], [250236, '2022-11-25', 74571522], [250236, '2022-11-25', 74567281], [250236, '2022-11-25', 74573237], [250236, '2022-11-25', 74577980], [250236, '2022-11-25', 74577250], [250236, '2022-11-25', 74569659], [250236, '2022-11-25', 74574921], [250236, '2022-11-25', 74569088], [250236, '2022-11-25', 74578552], [250236, '2022-11-25', 74575127], [250236, '2022-11-25', 74575729], [250236, '2022-11-25', 74569369], [250236, '2022-11-25', 74574102], [250236, '2022-11-25', 74569080], [250236, '2022-11-25', 74570680], [250236, '2022-11-25', 74575744]]
insert_db : else -
sample_insert
sample_insert> get_id_list
sample_insert> get_id_list> posttype==1
sample_insert > create connection
<class 'tuple'>
sample_insert > create connection> dt_p_id_list> 2022-12-25 315
sample_insert > create connection> first_ann_q_id> 2022-12-25 [[250237, '2022-12-25', 74911498], [250237, '2022-12-25', 74911413], [250237, '2022-12-25', 74911604], [250237, '2022-12-25', 74915654], [250237, '2022-12-25', 74915099], [250237, '2022-12-25', 74911598], [250237, '2022-12-25', 74911581], [250237, '2022-12-25', 74914372], [250237, '2022-12-25', 74915016], [250237, '2022-12-25', 74913625], [250237, '2022-12-25', 74916468], [250237, '2022-12-25', 74916102], [250237, '2022-12-25', 74912386], [250237, '2022-12-25', 74911596], [250237, '2022-12-25', 74915054], [250237, '2022-12-25', 74914920], [250237, '2022-12-25', 74911295], [250237, '2022-12-25', 74913160], [250237, '2022-12-25', 74911672], [250237, '2022-12-25', 74913414], [250237, '2022-12-25', 74913439], [250237, '2022-12-25', 74914569], [250237, '2022-12-25', 74911493], [250237, '2022-12-25', 74911537], [250237, '2022-12-25', 74912847], [250237, '2022-12-25', 74913315], [250237, '2022-12-25', 74911455], [250237, '2022-12-25', 74915796], [250237, '2022-12-25', 74915504], [250237, '2022-12-25', 74912638]]
insert_db : else -
sample_insert
sample_insert> get_id_list
sample_insert> get_id_list> posttype==1
sample_insert > create connection
<class 'tuple'>
sample_insert > create connection> dt_p_id_list> 2023-01-25 685
sample_insert > create connection> first_ann_q_id> 2023-01-25 [[250238, '2023-01-25', 75238970], [250238, '2023-01-25', 75238991], [250238, '2023-01-25', 75234258], [250238, '2023-01-25', 75232667], [250238, '2023-01-25', 75236010], [250238, '2023-01-25', 75228828], [250238, '2023-01-25', 75233327], [250238, '2023-01-25', 75240242], [250238, '2023-01-25', 75232726], [250238, '2023-01-25', 75234432], [250238, '2023-01-25', 75238520], [250238, '2023-01-25', 75234000], [250238, '2023-01-25', 75240883], [250238, '2023-01-25', 75233504], [250238, '2023-01-25', 75241086], [250238, '2023-01-25', 75230445], [250238, '2023-01-25', 75232407], [250238, '2023-01-25', 75229123], [250238, '2023-01-25', 75231434], [250238, '2023-01-25', 75230775], [250238, '2023-01-25', 75240720], [250238, '2023-01-25', 75230193], [250238, '2023-01-25', 75233408], [250238, '2023-01-25', 75236197], [250238, '2023-01-25', 75230442], [250238, '2023-01-25', 75239620], [250238, '2023-01-25', 75228970], [250238, '2023-01-25', 75239721], [250238, '2023-01-25', 75235347], [250238, '2023-01-25', 75236911]]
insert_db : else -
sample_insert
sample_insert> get_id_list
sample_insert> get_id_list> posttype==1
sample_insert > create connection
<class 'tuple'>
sample_insert > create connection> dt_p_id_list> 2023-02-25 358
sample_insert > create connection> first_ann_q_id> 2023-02-25 [[250239, '2023-02-25', 75564456], [250239, '2023-02-25', 75568632], [250239, '2023-02-25', 75565997], [250239, '2023-02-25', 75565814], [250239, '2023-02-25', 75568587], [250239, '2023-02-25', 75564319], [250239, '2023-02-25', 75563110], [250239, '2023-02-25', 75566923], [250239, '2023-02-25', 75564595], [250239, '2023-02-25', 75566321], [250239, '2023-02-25', 75567900], [250239, '2023-02-25', 75567814], [250239, '2023-02-25', 75566288], [250239, '2023-02-25', 75568450], [250239, '2023-02-25', 75563719], [250239, '2023-02-25', 75565514], [250239, '2023-02-25', 75565777], [250239, '2023-02-25', 75563655], [250239, '2023-02-25', 75568511], [250239, '2023-02-25', 75568242], [250239, '2023-02-25', 75569180], [250239, '2023-02-25', 75563317], [250239, '2023-02-25', 75563523], [250239, '2023-02-25', 75567806], [250239, '2023-02-25', 75568096], [250239, '2023-02-25', 75565942], [250239, '2023-02-25', 75565659], [250239, '2023-02-25', 75567078], [250239, '2023-02-25', 75566022], [250239, '2023-02-25', 75568408]]
insert_db : else -
sample_insert
sample_insert> get_id_list
sample_insert> get_id_list> posttype==1
sample_insert > create connection
<class 'tuple'>
sample_insert > create connection> dt_p_id_list> 2023-03-25 300

In [ ]:
# get samples from database;
# for x in range(10):
#     sample_insert.insert_sample()

In [ ]:
# ver = 1
# date = '2024-12-04'

# q_output = sample_insert.get_target_list(ver, date)

In [ ]:
# t_extract = qe.Q_Extract('2022-10-01', '2022-12-31', 1, '2024-12-04', 'Y')
# df = t_extract.db_extract()
# q_output = t_extract.tb_extract(df)

# print('SampleSelf_Consistency start')
# sample_sc = ssc.SampleSelf_Consistency('2024-12-04', 1, q_output[:1]) 
# print('SampleSelf_Consistency end')

# print('write_promt start')
# chk_list = sample_sc.write_promt()
# print('write_promt end')

# print('calc_acc_for_l start')
# result_df = sample_sc.calc_acc_for_l()
# print('calc_acc_for_l end')