In [2]:
import sys, os
p = os.path.abspath('..')
# p = p+r'\config'
sys.path.insert(1, p)

In [3]:
import lib.annotation.D_Annotation as da
import lib.annotation.Self_Consistency as sc
import lib.annotation.Sample_Insert as si
import lib.annotation.Q_Extract as qe
import lib.annotation.SampleSelf_Consistency as ssc

In [ ]:
from datetime import datetime, timedelta

def return_date_list(stday) :
    start_date = datetime(2021, 12, 1)
    end_date = datetime(2023, 12, 1)

    # 결과 날짜를 저장할 리스트
    dates = []

    # 현재 날짜를 시작 날짜로 설정
    current_date = start_date

    # 매달 15일을 반복하여 계산
    while current_date <= end_date:
        dates.append([datetime(current_date.year, current_date.month, stday).strftime("%Y-%m-%d"), 
                            datetime(current_date.year, current_date.month, stday+1).strftime("%Y-%m-%d")
                        ])
        # 다음 달로 이동
        year = current_date.year
        month = current_date.month + 1
        if month > 12:
            month = 1
            year += 1
        current_date = datetime(year, month, 1)

    return dates

In [ ]:
date_5 = return_date_list(5)
date_10 = return_date_list(10)
date_15 = return_date_list(15)
date_20 = return_date_list(20)
date_25 = return_date_list(25)
# date_20 = return_date_list(30)

In [ ]:
date_15

In [ ]:
for st_dt, end_dt in date_15:
    num_of_date = int(st_dt.split('-')[2])
    sample_insert = si.Sample_Insert(st_dt, end_dt, 30, 1, '1', num_of_date)
    sample_insert.insert_sample()

If there is no pattern of num of date

In [5]:
sample_insert = si.Sample_Insert('2022-11-29', '2022-11-30', 30, 1, '1', 1111)
sample_insert.insert_sample()

sample_insert
sample_insert> get_id_list
sample_insert> get_id_list> posttype==1
sample_insert > create connection
<class 'tuple'>
sample_insert > create connection> dt_p_id_list> 2022-11-29 678
sample_insert > create connection> first_ann_q_id> 2022-11-29 [[11110002, '2022-11-29', 74612754], [11110002, '2022-11-29', 74616644], [11110002, '2022-11-29', 74609637], [11110002, '2022-11-29', 74621497], [11110002, '2022-11-29', 74620714], [11110002, '2022-11-29', 74611917], [11110002, '2022-11-29', 74609190], [11110002, '2022-11-29', 74617024], [11110002, '2022-11-29', 74608499], [11110002, '2022-11-29', 74608795], [11110002, '2022-11-29', 74612873], [11110002, '2022-11-29', 74608745], [11110002, '2022-11-29', 74609959], [11110002, '2022-11-29', 74612910], [11110002, '2022-11-29', 74617327], [11110002, '2022-11-29', 74613427], [11110002, '2022-11-29', 74619148], [11110002, '2022-11-29', 74620163], [11110002, '2022-11-29', 74611659], [11110002, '2022-11-29', 74621441], [11110002, '2022-11-29', 74620120], [11110002, '2022-11-29', 74608971], [11110002, '2022-11-29', 74611602], [11110002, '2022-11-29', 74621197], [11110002, '2022-11-29', 74618512], [11110002, '2022-11-29', 74621198], [11110002, '2022-11-29', 74615858], [11110002, '2022-11-29', 74616904], [11110002, '2022-11-29', 74612984], [11110002, '2022-11-29', 74620048]]
insert_db : else -