In [ ]:
# https://ppiazi.tistory.com/entry/python-cyclomatic-complexity-%EB%AA%A8%EB%93%88-lizard

In [ ]:
# https://github.com/terryyin/lizard

In [ ]:
# pip install cognitive_complexity

In [3]:
import sys, os
p = os.path.abspath('..')
# p = p+r'\config'
sys.path.insert(1, p)

In [4]:
#customized preprocessing pkg
import preprocess as pp
import pandas as pd
import numpy as np
import pickle
import ast
from cognitive_complexity.api import get_cognitive_complexity
import pprint
import os
import matplotlib.pyplot as plt
import matplotlib.ticker as ticker
# https://joaorafaelm.github.io/notebook/python/2021/04/10/cognitive-complexity.html

In [5]:
input_year_list = ['2021', '2022', '2023']

In [25]:
target_id_list = pd.read_csv('./difficulty_calculated.csv')['id'].values

### 소스코드 complexity 계산

In [ ]:
data_path = '../../../data_bak'

In [ ]:
# 파일 불러오기
complexity_python_df = pd.DataFrame()
for input_year in input_year_list:
    with open(f'{data_path}/complexity_python_df_{input_year}.pkl', 'rb') as f:
        df = pickle.load(f)
    complexity_python_df = pd.concat([complexity_python_df, df], axis = 0)

In [9]:
complexity_python_df['cdate'].max()

'2023-12-03'

In [11]:
complexity_python_df['cdate'].min()

'2021-01-01'

In [12]:
htmlp = pp.HTMLParser()
codep = pp.CodeSectionParser()

In [13]:
complexity_python_df['c_h_body'] = complexity_python_df['body'].apply(lambda x : htmlp.clean_html_str(x))

In [14]:
complexity_python_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 615422 entries, 0 to 134532
Data columns (total 5 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   id        615422 non-null  int64
 1   cdate     615422 non-null  object
 2   title     615422 non-null  object
 3   body      615422 non-null  object
 4   c_h_body  615422 non-null  object
dtypes: int64(1), object(4)
memory usage: 28.2+ MB

In [15]:
complexity_python_df['c_body'] = complexity_python_df['body'].apply(lambda x : codep(x))

In [16]:
complexity_python_df

,id,cdate,title,body,c_h_body,c_body
0,70551464,2021-12-19,Python Resize and Move Active Window X11,<p>I am trying to write (in python) my own &qu...,"I am trying to write (in python) my own "";tili...",{'code_sections': []}
1,70702244,2021-12-28,Best way to manage y/n and password prompts th...,<p>I am creating a Python script to install AU...,I am creating a Python script to install AUR p...,"{'code_sections': [{'off_beg': 250, 'off_end':..."
2,70542818,2021-12-31,How can I make joblib works with executable fi...,<p>I developed a program in python to organize...,I developed a program in python to organize da...,"{'code_sections': [{'off_beg': 385, 'off_end':..."
3,70542928,2021-12-31,Millionth Fibonacci Number - Numpy Python Impl...,<p>I am trying to implement a code which works...,I am trying to implement a code which works fo...,"{'code_sections': [{'off_beg': 373, 'off_end':..."
4,70542947,2021-12-31,YAML not well formed,<p>Im trying to stop my RDS cluster using Lamb...,Im trying to stop my RDS cluster using Lambda ...,"{'code_sections': [{'off_beg': 552, 'off_end':..."
...,...,...,...,...,...,...
134528,77356328,2023-10-25,Problem with only one text item being added to...,<p>I'm trying to make a gui using Tkinter wher...,I'm trying to make a gui using Tkinter where t...,"{'code_sections': [{'off_beg': 472, 'off_end':..."
134529,77356332,2023-10-25,Dask client causing memory expection?,<p>I´ve been migrating some of my codes from p...,I´ve been migrating some of my codes from pand...,"{'code_sections': [{'off_beg': 272, 'off_end':..."
134530,77356352,2023-10-25,Python check if a string is a standard US doll...,<p>I have some strings which only contains [<c...,I have some strings which only contains [0-9][...,"{'code_sections': [{'off_beg': 322, 'off_end':..."
134531,77356371,2023-10-25,How to draw disconnected lines in mayavi and c...,<p>I want to plot many boxes in a scene. If I ...,I want to plot many boxes in a scene. If I use...,{'code_sections': []}
134532,77356372,2023-10-25,Run batch files with admin rights via Python,"<p><strong>Greetings,</strong></p>\n<p>I want ...","Greetings,\nI want to creat an Windows Optimiz...","{'code_sections': [{'off_beg': 289, 'off_end':..."

In [17]:
complexity_python_src = complexity_python_df[['id', 'c_body']]

In [18]:
complexity_python_src['code_len'] = complexity_python_src['c_body'].apply(lambda x: len(x['code_sections']))

/tmp/ipykernel_2937750/2692464613.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  complexity_python_src['code_len'] = complexity_python_src['c_body'].apply(lambda x: len(x['code_sections']))

In [19]:
complexity_python_src = complexity_python_src[complexity_python_src['code_len']>0]

In [20]:
complexity_python_src.head(5)

         id                                             c_body  code_len
1  70702244  {'code_sections': [{'off_beg': 250, 'off_end':...         1
2  70542818  {'code_sections': [{'off_beg': 385, 'off_end':...         1
3  70542928  {'code_sections': [{'off_beg': 373, 'off_end':...         3
4  70542947  {'code_sections': [{'off_beg': 552, 'off_end':...         1
6  70543017  {'code_sections': [{'off_beg': 139, 'off_end':...         2

In [30]:
# difficulty가 annotated된 것에 대해서만 처리 
complexity_python_src = complexity_python_src[complexity_python_src['id'].isin(target_id_list)]

In [35]:
src_df = pd.DataFrame(columns = ['id', 'src'])
def code_explode(row) : 
    global src_df
    for i in range(row['code_len']):
        tmp_src_dict = dict()
        tmp_src_dict['id'] = row['id']
        tmp_src_dict['src'] = row['c_body']['code_sections'][i]['span_str']
        src_df = pd.concat([src_df, pd.DataFrame([tmp_src_dict])], ignore_index=True)
    return True

In [36]:
# bert_src_ex = bert_src[['q_id', 'q_prep_text']].apply(pd.Series.explode)
complexity_python_src.apply(code_explode, axis = 1)

6         True
21        True
26        True
32        True
67        True
          ...
134458    True
134489    True
134506    True
134520    True
134521    True
Length: 10443, dtype: bool

In [37]:
src_df.reset_index(inplace=True)

In [38]:
src_df.head()

   index        id                                                src
0      0  70543017  data = func("value")\nassert all("Yes" in data...
1      1  70543017                    'bool' object is not iterable\n
2      2  70543287       from pynput.keyboard import Key,Controller\n
3      3  70543287  dlsym(0x7fd5fac16b50, PyObjCObject_New): symbo...
4      4  70543369  import pandas as pd    \n\ndf = pd.DataFrame({...

In [40]:
src_df

       index        id                                                src
0          0  70543017  data = func("value")\nassert all("Yes" in data...
1          1  70543017                    'bool' object is not iterable\n
2          2  70543287       from pynput.keyboard import Key,Controller\n
3          3  70543287  dlsym(0x7fd5fac16b50, PyObjCObject_New): symbo...
4          4  70543369  import pandas as pd    \n\ndf = pd.DataFrame({...
...      ...       ...                                                ...
20344  20344  77356250  FROM python:3.12.0-bookworm\nWORKDIR /backend\...
20345  20345  77356250  version: '3.8'\nservices:\n  python-deps:\n   ...
20346  20346  77356250  docker-compose run python-deps\n[+] Building 0...
20347  20347  77356250         volumes:\n  - ${PWD}/backend/:/backend/`\n
20348  20348  77356258  import numpy as np\nimport matplotlib.pyplot a...

[20349 rows x 3 columns]

In [ ]:
for i in range(src_df.shape[0]):
    idx = src_df.iloc[i, 0]
    qid = src_df.iloc[i, 1]
    src = src_df.iloc[i, 2]
    file_nm = str(idx)+'_' + str(qid)+'.py'
    with open(f'{data_path}/src/difficulty_src/{file_nm}', 'wb') as f:
        f.write(src.encode())

In [ ]:
# https://github.com/rohaquinlop/complexipy

In [ ]:
# pip install complexipy

In [ ]:
# !complexipy /home/mghan/sopjt/git/data/src/3_74963438.py -l file -o

In [ ]:
# cyclomatic은 모든 언어 가능 but cognitive는 언어별로 따로 분석해야함
# 하려면 소나큐브 사야 함 
# pyhon 기준으로는 조금 삽질하면 할 수 있을 듯.... 해보고 유의미하면 소나큐브 고?

### complexity 결과 확인

In [43]:
path = f'../../../data_bak/src/difficulty_excel/'
file_list = os.listdir(path)
file_list_csv = [file for file in file_list if file.endswith(".csv")]

# print ("file_list_csv: {}".format(file_list_csv))

In [44]:
calc_com_df = pd.DataFrame(columns = ['Path', 'File Name', 'Cognitive Complexity'])
for file_nm in file_list_csv :
    tmp = pd.read_csv(path+file_nm)
    calc_com_df = pd.concat([calc_com_df, tmp], axis = 0)

In [45]:
calc_com_df.head()

                Path          File Name Cognitive Complexity
0   9869_71026808.py   9869_71026808.py                   26
0  11292_72527039.py  11292_72527039.py                    3
0   8969_71499798.py   8969_71499798.py                    3
0   4412_73562112.py   4412_73562112.py                    0
0   9271_71443787.py   9271_71443787.py                    1

In [46]:
calc_com_df.reset_index(drop=True, inplace=True)

In [47]:
calc_com_df.head()

                Path          File Name Cognitive Complexity
0   9869_71026808.py   9869_71026808.py                   26
1  11292_72527039.py  11292_72527039.py                    3
2   8969_71499798.py   8969_71499798.py                    3
3   4412_73562112.py   4412_73562112.py                    0
4   9271_71443787.py   9271_71443787.py                    1

In [48]:
calc_com_df['index'] = calc_com_df['Path'].apply(lambda x : x.split('_')[0])
# calc_com_df['Path'].apply(lambda x : [  for i in x.split('_')])

In [49]:
calc_com_df['id'] = calc_com_df['Path'].apply(lambda x : x.split('_')[1].split('.')[0])

In [50]:
calc_com_df.sort_values(by = ['index', 'id'])

,Path,File Name,Cognitive Complexity,index,id
554,0_70543017.py,0_70543017.py,0,0,70543017
1341,100_70420222.py,100_70420222.py,5,100,70420222
2272,10000_70992967.py,10000_70992967.py,0,10000,70992967
7823,10001_70992967.py,10001_70992967.py,0,10001,70992967
1527,10002_70992967.py,10002_70992967.py,0,10002,70992967
...,...,...,...,...,...
3260,9987_70996603.py,9987_70996603.py,0,9987,70996603
6120,9992_70997200.py,9992_70997200.py,3,9992,70997200
4220,9993_70998017.py,9993_70998017.py,0,9993,70998017
3195,9994_70998017.py,9994_70998017.py,0,9994,70998017
7532,9998_70992967.py,9998_70992967.py,0,9998,70992967

In [51]:
calc_com_df[['index', 'id', 'Cognitive Complexity']] = calc_com_df[['index', 'id', 'Cognitive Complexity']].astype('int')

In [52]:
src_df[['index', 'id']] = src_df[['index', 'id']].astype('int')

In [53]:
calc_com_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10579 entries, 0 to 10578
Data columns (total 5 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Path                  10579 non-null  object
 1   File Name             10579 non-null  object
 2   Cognitive Complexity  10579 non-null  int64
 3   index                 10579 non-null  int64
 4   id                    10579 non-null  int64
dtypes: int64(3), object(2)
memory usage: 413.4+ KB

In [54]:
calc_com_df.sort_values(by = ['index', 'id'])

,Path,File Name,Cognitive Complexity,index,id
554,0_70543017.py,0_70543017.py,0,0,70543017
8384,2_70543287.py,2_70543287.py,0,2,70543287
5903,4_70543369.py,4_70543369.py,0,4,70543369
10079,5_70543503.py,5_70543503.py,0,5,70543503
1847,6_70543503.py,6_70543503.py,0,6,70543503
...,...,...,...,...,...
8847,20332_77360286.py,20332_77360286.py,0,20332,77360286
65,20333_77361030.py,20333_77361030.py,0,20333,77361030
9896,20336_77361637.py,20336_77361637.py,0,20336,77361637
5695,20342_77355901.py,20342_77355901.py,2,20342,77355901
4404,20348_77356258.py,20348_77356258.py,0,20348,77356258

In [55]:
calc_com_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10579 entries, 0 to 10578
Data columns (total 5 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Path                  10579 non-null  object
 1   File Name             10579 non-null  object
 2   Cognitive Complexity  10579 non-null  int64
 3   index                 10579 non-null  int64
 4   id                    10579 non-null  int64
dtypes: int64(3), object(2)
memory usage: 413.4+ KB

In [56]:
src_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20349 entries, 0 to 20348
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   index   20349 non-null  int64
 1   id      20349 non-null  int64
 2   src     20349 non-null  object
dtypes: int64(2), object(1)
memory usage: 477.1+ KB

In [57]:
calc_com_df = pd.merge(src_df,  calc_com_df, how = 'left', on = ['index', 'id'])

In [58]:
calc_com_df = pd.merge(complexity_python_df[['id', 'cdate']], calc_com_df, on = 'id')

In [60]:
calc_com_df.head(10)

,id,cdate,index,src,Path,File Name,Cognitive Complexity
0,70543017,2021-12-31,0,"data = func(""value"")\nassert all(""Yes"" in data...",0_70543017.py,0_70543017.py,0.0
1,70543017,2021-12-31,1,'bool' object is not iterable\n,NaN,NaN,NaN
2,70543287,2021-12-31,2,"from pynput.keyboard import Key,Controller\n",2_70543287.py,2_70543287.py,0.0
3,70543287,2021-12-31,3,"dlsym(0x7fd5fac16b50, PyObjCObject_New): symbo...",NaN,NaN,NaN
4,70543369,2021-12-31,4,import pandas as pd \n\ndf = pd.DataFrame({...,4_70543369.py,4_70543369.py,0.0
5,70543503,2021-12-31,5,import matplotlib.pyplot as plt \nimport numpy...,5_70543503.py,5_70543503.py,0.0
6,70543503,2021-12-31,6,"values = np.array(list(zip(x, y)))\nkernel = s...",6_70543503.py,6_70543503.py,0.0
7,70543503,2021-12-31,7,#Fast (extracting kernel density value at...,7_70543503.py,7_70543503.py,0.0
8,70544174,2021-12-31,8,"fig, axes = plt.subplots(3, 2, sharex=True)\na...",8_70544174.py,8_70544174.py,0.0
9,70544174,2021-12-31,9,----------------------------------------------...,NaN,NaN,NaN

In [61]:
# 일자별로 아예 소스가 수행되지 않는 건 
calc_com_df_back = calc_com_df.copy()
calc_ed_com_df = calc_com_df[~calc_com_df['Path'].isna()]

In [62]:
calc_ed_com_df = calc_ed_com_df.sort_values(by = ['cdate', 'id', 'Cognitive Complexity'], ascending = [True, True, False]).groupby('id').head(1)

In [63]:
calc_ed_com_df.head()

,id,cdate,index,src,Path,File Name,Cognitive Complexity
659,70168428,2021-11-30,659,class Film:\n genre = models.ManyToManyFiel...,659_70168428.py,659_70168428.py,0.0
666,70169018,2021-11-30,666,from django.http.response import HttpResponse\...,666_70169018.py,666_70169018.py,9.0
670,70169257,2021-11-30,670,from pkg.a import f\nglobal_var = 10\nf()\n,670_70169257.py,670_70169257.py,0.0
632,70171983,2021-11-30,632,# main.py\nimport module\n\nclient = module.Cl...,632_70171983.py,632_70171983.py,1.0
602,70173981,2021-11-30,602,#function to place files in their respective f...,602_70173981.py,602_70173981.py,1.0

In [64]:
calc_ed_com_df.to_csv('./complexity_by_difficulty.csv')