In [1]:
# create table tt_q_tag_cnt as 
# select x.id
# 	, to_char(x.creationdate, 'yyyy-mm-dd') as c_date
# 	, (regexp_matches(x.tags, '<(ruby|scala|rust|go|bash|shell|objective-c|python|r|typescript|swift|c#|sql|assembly|kotlin|c\+\+|javascript|vba|c|html|css|java|perl|haskell|julia|php|dart|clojure|f#|elixir|erlang|lisp|groovy|crystal-lang|powershell|cobol|delphi|matlab)>', 'g'))[1] AS matched_tags
# 	, x.tag
#   from (
# 	select id, creationdate, tags, replace(replace(unnest(string_to_array(tags, '><')), '<', ''), '>', '') tag 
#   from posts
# where posttypeid ='1'
#   and (tags like '%<ruby>%' or tags like '%<scala>%' or tags like '%<rust>%' or tags like '%<go>%' or tags like '%<bash>%' or tags like '%<shell>%' or tags like '%<objective-c>%' or tags like '%<python>%' or tags like '%<r>%' or tags like '%<typescript>%' or tags like '%<swift>%' or tags like '%<c#>%' or tags like '%<sql>%' or tags like '%<assembly>%' or tags like '%<kotlin>%' or tags like '%<c++>%' or tags like '%<javascript>%' or tags like '%<vba>%' or tags like '%<c>%' or tags like '%<html>%' or tags like '%<css>%' or tags like '%<java>%' or tags like '%<perl>%' or tags like '%<haskell>%' or tags like '%<julia>%' or tags like '%<php>%' or tags like '%<dart>%' or tags like '%<clojure>%' or tags like '%<f#>%' or tags like '%<elixir>%' or tags like '%<erlang>%' or tags like '%<lisp>%' or tags like '%<groovy>%' or tags like '%<crystal-lang>%' or tags like '%<powershell>%' or tags like '%<cobol>%' or tags like '%<delphi>%' or tags like '%<matlab>%')
#   and creationdate between '2021-11-30' and '2023-12-03' 
#   ) x 
# ;

In [1]:
import sys, os
p = os.path.abspath('..')
pp = os.path.abspath('../..')
ppp = os.path.abspath('../../visualization')

sys.path.insert(1, p)
sys.path.insert(1, pp)
sys.path.insert(1, ppp)

In [2]:
import json
import pandas as pd
import numpy as np
from utils.salary import *
import psycopg2
from utils.statistics import *
import config.config as conf
import datetime
import re
from statsmodels.nonparametric.smoothers_lowess import lowess
import seaborn as sns
import matplotlib.pyplot as plt
colors = plt.get_cmap('tab20').colors

## 데이터전처리

In [4]:
output_dir = '../fig/'
by = 'rel_week'

In [32]:
# test.json 내용: [{"name":"Jack","age":26},{"name":"Ace","age":87}]
df_lda = pd.read_json('../../visualization/result/lda/run_id_1/data/16.json') ## pd.read_json 이용

In [49]:
lda_list = df_lda.loc[df_lda['id'] ==76075008, 'topic_info'].values[0]

In [52]:
lda_dict = dict()

for idx, value in enumerate(lda_list) :
    lda_dict[idx] = value

In [54]:
max_key = max(lda_dict, key = lda_dict.get)

In [ ]:
max_key

# "Topic": 27,
#         "Count": 8725.572726293483,
#         "Representation": {
#             "client": 36837,
#             "connection": 35366,
#             "server": 30208,
#             "database": 28138,
#             "connect": 27716,
#             "query": 27310,
#             "error": 24373,
#             "db": 24085,
#             "sql": 23648,
#             "cursor": 20042

27

In [56]:
lda_dict[max_key]

0.9236385188689281

In [29]:
# test.json 내용: [{"name":"Jack","age":26},{"name":"Ace","age":87}]
df_bert = pd.read_json('../../visualization/result/bert_based/run_id_0/data/16.json') ## pd.read_json 이용

In [30]:
df_bert[df_bert['id'] ==76075008]
# 41

,id,creationdate,title,tags,body,Document,Topic
9657,76075008,2023-04-21 16:18:34.417000,Connect to Azure SQL from Azure function using...,<python><azure-functions><odbc>,<p>I am trying to connect to an azure sql db f...,I am trying to connect to an azure sql db from...,41

In [ ]:
        # "Topic": 41,        "Count": 34257,         "Name": "41_database_connection_sql_server",         "Representation": [            "database",            "connection",             "sql",            "server",            "mysql",            "db",            "error",            "connect",
        #     "using",
        #     "transaction"