주차별 평균으로 discontinuity 확인

In [1]:
import sys, os
p = os.path.abspath('..')
pp = os.path.abspath('../..')
sys.path.insert(1, p)
sys.path.insert(1, pp)

In [2]:
#customized preprocessing pkg
import pandas as pd
import numpy as np
import pickle
import matplotlib.pyplot as plt
import datetime
import lib.stats.stats as st
import config.config as conf

### 소스코드 complexity 계산

In [3]:
input_year_list = ['2021', '2022', '2023']

In [4]:
input_pl = 'python'

In [5]:
# 파일 불러오기
complexity_python_df = pd.DataFrame()

for input_year in input_year_list : 
    with open(f'{conf.DATA_PATH}/data/complexity_{input_pl}_df_{input_year}.pkl', 'rb') as f:
        tmp = pickle.load(f)
        complexity_python_df = pd.concat([complexity_python_df, tmp], axis = 0)

In [6]:
print(complexity_python_df['cdate'].min())
print(complexity_python_df['cdate'].max())

2021-01-01
2023-12-03

In [7]:
# 전체 데이터셋 
with open(f'{conf.DATA_PATH}/data/complexity_src_df.pkl', 'rb') as f:
    src_df = pickle.load(f)

In [8]:
src_df.head()

     idx        id                                                src
0  19455  77167050  import ipywidgets as widgets\n\nquestion_label...
1  19456  77167055  `from transformers import AutoTokenizer, AutoM...
2  19457  77167055  error: TODO: expressions are not yet supported...
3  19458  77167101  sql1 = "SELECT state FROM YO WHERE function = ...
4  19459  77167156               ldata1x\nldata2x\nldata3x\nldata4x\n

In [9]:
# 파일 불러오기
calc_com_df = pd.DataFrame()

for input_year in input_year_list : 
    with open(f'{conf.DATA_PATH}/data/calc_com_df_{input_year}_{input_pl}.pkl', 'rb') as f:
        tmp = pickle.load(f)
        calc_com_df = pd.concat([calc_com_df, tmp], axis = 0)

In [10]:
calc_com_df.reset_index(drop=True, inplace=True)

In [11]:
calc_com_df.head()

                 Path           File Name Cognitive Complexity
0  353900_65948963.py  353900_65948963.py                    3
1  377254_65638981.py  377254_65638981.py                    0
2   94558_69251293.py   94558_69251293.py                    0
3  223504_67683129.py  223504_67683129.py                    0
4  111551_69022973.py  111551_69022973.py                    0

In [12]:
calc_com_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 482331 entries, 0 to 482330
Data columns (total 3 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   Path                  482331 non-null  object
 1   File Name             482331 non-null  object
 2   Cognitive Complexity  482331 non-null  object
dtypes: object(3)
memory usage: 11.0+ MB

In [13]:
calc_com_df['idx'] = calc_com_df['Path'].apply(lambda x : x.split('_')[0])
# calc_com_df['Path'].apply(lambda x : [  for i in x.split('_')])

In [14]:
calc_com_df['id'] = calc_com_df['Path'].apply(lambda x : x.split('_')[1].split('.')[0])

In [15]:
calc_com_df.sort_values(by = ['idx', 'id'])

,Path,File Name,Cognitive Complexity,idx,id
164589,0_70702244.py,0_70702244.py,0,0,70702244
363420,0_74935859.py,0_74935859.py,1,0,74935859
67043,1_70397890.py,1_70397890.py,0,1,70397890
230047,1_74574281.py,1_74574281.py,6,1,74574281
427921,1_77569752.py,1_77569752.py,0,1,77569752
...,...,...,...,...,...
274042,99997_73587690.py,99997_73587690.py,6,99997,73587690
407696,99997_76005895.py,99997_76005895.py,0,99997,76005895
155471,99999_69208993.py,99999_69208993.py,0,99999,69208993
335421,99999_73587727.py,99999_73587727.py,1,99999,73587727
403215,99999_76005895.py,99999_76005895.py,1,99999,76005895

In [16]:
calc_com_df[['idx', 'id', 'Cognitive Complexity']] = calc_com_df[['idx', 'id', 'Cognitive Complexity']].astype('int')

In [17]:
src_df[['idx', 'id']] = src_df[['idx', 'id']].astype('int')

In [18]:
chk_info = calc_com_df.copy()

In [19]:
src_df['id'].min()

65526401

In [20]:
calc_com_df = pd.merge(src_df,  calc_com_df, how = 'left', on = ['idx', 'id'])

In [21]:
calc_com_df.head()

,idx,id,src,Path,File Name,Cognitive Complexity
0,19455,77167050,import ipywidgets as widgets\n\nquestion_label...,19455_77167050.py,19455_77167050.py,1.0
1,19456,77167055,"`from transformers import AutoTokenizer, AutoM...",NaN,NaN,NaN
2,19457,77167055,error: TODO: expressions are not yet supported...,NaN,NaN,NaN
3,19458,77167101,"sql1 = ""SELECT state FROM YO WHERE function = ...",19458_77167101.py,19458_77167101.py,2.0
4,19459,77167156,ldata1x\nldata2x\nldata3x\nldata4x\n,19459_77167156.py,19459_77167156.py,0.0

In [22]:
complexity_python_df.head()

,id,cdate,title,body
0,70551464,2021-12-19,Python Resize and Move Active Window X11,<p>I am trying to write (in python) my own &qu...
1,70702244,2021-12-28,Best way to manage y/n and password prompts th...,<p>I am creating a Python script to install AU...
2,70542818,2021-12-31,How can I make joblib works with executable fi...,<p>I developed a program in python to organize...
3,70542928,2021-12-31,Millionth Fibonacci Number - Numpy Python Impl...,<p>I am trying to implement a code which works...
4,70542947,2021-12-31,YAML not well formed,<p>Im trying to stop my RDS cluster using Lamb...

In [23]:
calc_com_df = pd.merge(complexity_python_df[['id', 'cdate']], calc_com_df, on = 'id')

In [24]:
calc_com_df.head()

,id,cdate,idx,src,Path,File Name,Cognitive Complexity
0,70702244,2021-12-28,0,cmd = r'yes y | makepkg -si'\noutput = subproc...,0_70702244.py,0_70702244.py,0.0
1,70542818,2021-12-31,113,import Conv\nfrom os import getcwd\nfrom time ...,113_70542818.py,113_70542818.py,0.0
2,70542928,2021-12-31,114,def fib(n):\n import numpy as np\n matri...,NaN,NaN,NaN
3,70542928,2021-12-31,115,4346655768693745643568852767504062580256466051...,115_70542928.py,115_70542928.py,0.0
4,70542928,2021-12-31,116,817770325994397771\n,116_70542928.py,116_70542928.py,0.0

In [25]:
calc_com_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 940801 entries, 0 to 940800
Data columns (total 7 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   id                    940801 non-null  int64
 1   cdate                 940801 non-null  object
 2   idx                   940801 non-null  int64
 3   src                   940801 non-null  object
 4   Path                  482331 non-null  object
 5   File Name             482331 non-null  object
 6   Cognitive Complexity  482331 non-null  float64
dtypes: float64(1), int64(2), object(4)
memory usage: 50.2+ MB

In [31]:
# 일자별로 아예 소스가 수행되지 않는 건 
calc_com_df_back = calc_com_df.copy()
calc_ed_com_df = calc_com_df[~calc_com_df['Path'].isna()]

In [ ]:
# calc_ed_com_df = calc_ed_com_df.sort_values(by = ['cdate', 'id', 'Cognitive Complexity'], ascending = [True, True, False]).groupby('id').head(1)

In [ ]:
# with open(f'{conf.DATA_PATH}/data/cc_python_raw_df.pkl', 'wb') as f:
#     pickle.dump(calc_ed_com_df, f)

In [ ]:
calc_ed_com_df

In [ ]:
calc_ed_com_df

In [ ]:
calc_ed_com_df['rel_week'] = np.floor((pd.to_datetime(calc_ed_com_df['cdate'])- datetime.datetime(2022,11,30)).dt.days/7)

In [ ]:
calc_ed_com_df[(calc_ed_com_df['rel_week']>=-52)&(calc_ed_com_df['rel_week']<52)].info()

In [ ]:
calc_ed_com_mean_df = calc_ed_com_df.groupby(['rel_week']).mean(numeric_only=True).reset_index()
# ['Cognitive Complexity']

In [ ]:
calc_ed_com_mean_df.head()

In [ ]:
chow_df = calc_ed_com_mean_df[['rel_week', 'Cognitive Complexity']]

In [ ]:
chow_df = chow_df[(chow_df['rel_week']>=-52)&(chow_df['rel_week']<52)]

In [ ]:
x = chow_df['rel_week'].values

In [ ]:
np.argmax(np.where(x <= 0))

In [ ]:
chow_df_1year = chow_df[chow_df['rel_week']>=-52]
st_chow_1year = st.Stats(chow_df_1year['rel_week'].values, chow_df_1year['Cognitive Complexity'].values, 2, 0.95)
F_stat_1, p_value_1 = st_chow_1year.chow_test()

In [ ]:
np.argmax(np.where(x < 0))

In [ ]:
x[:51]

In [ ]:
x = chow_df_1year['rel_week'].values
y = chow_df_1year['Cognitive Complexity'].values

split_idx = np.argmax(np.where(x < 0))+1
x1= x[:split_idx]
x2= x[split_idx:]
# 시각화
plt.figure(figsize=(7, 6))
plt.scatter(x, y,  alpha=0.6, color='darkgray')
plt.plot(x, st_chow_1year.y_predict, label="Full Model", linestyle="--", color="black")  


plt.plot(x1, st_chow_1year.y1_predict, label="before chatGPT", linewidth='2')
plt.fill_between(x1, st_chow_1year.y1_predict - st_chow_1year.y1_conf_interval, st_chow_1year.y1_predict + st_chow_1year.y1_conf_interval, alpha=0.1)

plt.plot(x2, st_chow_1year.y2_predict, label="after chatGPT", linewidth='2')
plt.fill_between(x2, st_chow_1year.y2_predict - st_chow_1year.y2_conf_interval, st_chow_1year.y2_predict + st_chow_1year.y2_conf_interval, alpha=0.1)

plt.text(22, 1.5, s=f'F-Statistic : {F_stat_1:.2f}\np-value : {p_value_1:.4f}', fontsize = 10) #
plt.axvline(x=0,     color='red',    linestyle='-.', linewidth=1)

plt.legend( loc='upper left')
plt.xlabel("Week Relative to ChatGPT Release", fontsize=15)
plt.ylabel("Weekly Average Complexity", fontsize=15)
plt.grid(True, linestyle='--', alpha=0.3)
plt.savefig("./fig/Result_Fig3.png", dpi=300, bbox_inches='tight')  # DPI 설정 및 여백 최소화
plt.show()

In [ ]:
x = chow_df_1year['rel_week'].values
y = chow_df_1year['Cognitive Complexity'].values

split_idx = np.argmax(np.where(x < 0))+1
x1= x[:split_idx]
x2= x[split_idx:]
# 시각화
plt.figure(figsize=(7, 6))
plt.scatter(x, y,  alpha=0.6, color='darkgray')
plt.plot(x, st_chow_1year.y_predict, label="Full Model", linestyle="--", color="black")  


plt.plot(x1, st_chow_1year.y1_predict, label="before chatGPT", linewidth='2')
plt.fill_between(x1, st_chow_1year.y1_predict - st_chow_1year.y1_conf_interval, st_chow_1year.y1_predict + st_chow_1year.y1_conf_interval, alpha=0.1)

plt.plot(x2, st_chow_1year.y2_predict, label="after chatGPT", linewidth='2')
plt.fill_between(x2, st_chow_1year.y2_predict - st_chow_1year.y2_conf_interval, st_chow_1year.y2_predict + st_chow_1year.y2_conf_interval, alpha=0.1)

plt.text(22, 1.5, s=f'F-Statistic : {F_stat_1:.2f}\np-value : {p_value_1:.4f}', fontsize = 10) #
plt.axvline(x=0,     color='red',    linestyle='-.', linewidth=1)

plt.legend( loc='upper left')
plt.xlabel("Week Relative to ChatGPT Release", fontsize=15)
plt.ylabel("Weekly Average Complexity", fontsize=15)
plt.grid(True, linestyle='--', alpha=0.3)
plt.savefig("./fig/Result_Fig3.png", dpi=300, bbox_inches='tight')  # DPI 설정 및 여백 최소화
plt.show()